<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <f:view contentType="text/html" id="fview">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>#{msg['lbl_title']}</title>
        <ui:debug />
        <f:metadata>
            <ui:insert name="metadata" />
        </f:metadata>

        <h:head>
            <p:ajaxStatus onstart="statusDialog.show();"
                          onsuccess="statusDialog.hide();" />
            <div>
                <h:outputStylesheet name="jvlat-tres-a-1-top-menu.css" library="css" />
                <link
                    href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
                    rel="stylesheet" type="text/css" />
                <div class="header_jv" style="height:40px!important">
                    <h:graphicImage library="images" name="logosp.png" style="height:60px;margin-top: 10px;margin-left: 20px;margin-right:5px;float: left;" />
                    <h:graphicImage library="images" name="logo.png" styleClass="pull-right" style="height:50px;margin-right:5px;" />
                </div>
            </div>
        </h:head>

        <h:body>
            <h:form>

                <div>
                    <div class="menuleft" style="float: left;">

                    </div>

                    <div class="contentarea" >
                        <h:form id="mainForm">
                            <p:messages autoUpdate="true" id="msgs" showDetail="false"
                                        showSummary="true" closable="true"/>
                            <ui:insert name="content" />
                        </h:form>
                    </div>

                    <div class="footerarea" style="clear: both;margin-bottom:10px">

                        <div class="fongrey font-size-cero">
                            <div style="margin-right: 10px;color:#fff;padding-top:8px;padding-bottom:5px;">© Copyright 2011 - 2013 por
                                Juegos de Video Latinoamerica. Todos los derechos reservados.</div>
                            <div class="fonpic"></div>
                        </div>
                    </div>
                </div>
            </h:form>
        </h:body>

    </f:view>
</html>