/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/11/2015, 03:54:01 PM
    Author     : Seidor
*/

.ui-messages-info {
    background-color: #7EC234;
    font-size: 80%;
}
.ui-messages-info-icon{
    background: url("images/ok.gif");  
    background-color: transparent;
    height: 27px;
    width: 27px;
}
.ui-messages-info-summary{
    color: #FFFFFF;
    font-size: 80%;
}
.ui-messages-info-detail{
    color: #FFFFFF;
    font-size: 80%;
}

.ui-messages-error {
    background-color: #C00000;
    font-size: 80%;
}
.ui-messages-error-icon{
    background: url("images/error.gif");  
    background-color: transparent;
    height: 27px;
    width: 27px;
}
.ui-messages-error-summary{
    color: #FFFFFF;
    font-size: 80%;
}
.ui-messages-error-detail{
    color: #FFFFFF;
    font-size: 80%;
}

.ui-messages-warn {
    background-color: #ffcc00;
    font-size: 80%;
}
.ui-messages-warn-icon{
    background: url("/Demand-web/faces/javax.faces.resource/images/warn.gif");  
    background-color: transparent;
    height: 27px;
    width: 27px;
}
.ui-messages-warn-summary{
    color: #FFFFFF;
    font-size: 80%;
}
.ui-messages-warn-detail{
    color: #FFFFFF;
    font-size: 80%;
}

.ui-fileupload-buttonbar {
    font-size: 140% !important;
}

.ui-fileupload-content {
    font-size: 150% !important;
}

.ui-icon-seguridad{
    background-position: center !important;
    background-image: url("/Demand-web/faces/javax.faces.resource/images/seguridad-icon.png") !important;
    width: 20px;
    height: 20px;
}

.ui-icon-supply{
    background-position: center !important;
    background-image: url("/Demand-web/faces/javax.faces.resource/images/supply-icon.png") !important;
    width: 20px;
    height: 20px;
}

.ui-icon-administrador{
    background-position: center !important;
    background-image: url("/Demand-web/faces/javax.faces.resource/images/administrador-icon.png") !important;
    width: 20px;
    height: 20px;
}

.ui-icon-sellOut{
    background-position: center !important;
    background-image: url("/Demand-web/faces/javax.faces.resource/images/sellOut-icon.png") !important;
    width: 20px;
    height: 20px;
}

.ui-icon-demand{
    background-position: center !important;
    background-image: url("/Demand-web/faces/javax.faces.resource/images/demand-icon.png") !important;
    width: 20px;
    height: 20px;
}

.ui-icon-valueChain{
    background-position: center !important;
    background-image: url("/Demand-web/faces/javax.faces.resource/images/valueChain-icon.png") !important;
    width: 20px;
    height: 20px;
}

.ui-icon-rollingForecast{
    background-position: center !important;
    background-image: url("/Demand-web/faces/javax.faces.resource/images/rollingForecast-icon.png") !important;
    width: 20px;
    height: 20px;
}

.img {
    max-width: 100%;
    height: auto;
    width: auto/9; 
}
