<?xml version="1.0" encoding="UTF-8"?>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="templates/tmpl-tres-a-1-top-menu.xhtml">

    <ui:define name="metadata">     
    </ui:define>

    <ui:define name="content">

        <div class="font-cero font-color-white title-content">
            <h:outputText style="margin-left: 15px;" value="#{msg['lbl_titleAppLoadForecast']}" />
        </div>
        <div class="middle-content">
            <div class="formsearch" style="width: 100%; border-bottom-width: 0px !important;">
                <div style="width: 200px; float: left">                    
                    <p:outputLabel style="margin-left: 15px;"   value="#{msg['lbl_compania']}" />
                    <br />
                    <p:selectOneMenu id="lbxComp" filter="true" style="width:170px; margin-bottom: 15px; margin-left: 15px; margin-top: 10px;" 
                                     required="true" requiredMessage="#{msg['req_compania']}"  value="#{cargaMasivaForecastMB.companiaSeleccionadaIde}">                    
                        <f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}" itemValue="" />
                        <f:selectItems value="#{cargaMasivaForecastMB.companiasMap.entrySet()}" var="item" itemLabel="#{item.value.id} - #{item.value.nombre}" itemValue="#{item.key}" />
                        <p:ajax event="change" listener="#{cargaMasivaForecastMB.accion()}" />
                    </p:selectOneMenu>
                </div>
            </div>
                <div class="formsearch" style="width: 50%;">

                    <p:fileUpload fileUploadListener="#{cargaMasivaForecastMB.handleFileUpload}"  style="margin-left: 15px;" mode="advanced" dragDropSupport="true" auto="true"
                                  label="#{msg['lbl_chooseFileUpload']}" sizeLimit="5000000"  />
                </div>
                <br/>
        </div>       
        <ui:include src="DialogErrorCargaMasivaForecast.xhtml" />  
        <br/>
        <br/>
    </ui:define>
</ui:composition>
