<div  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">   

    <h:outputText style="font-size: 17px"
                  value="Registros de Bitacora para el proceso"/>

    <f:facet name="header">
    </f:facet>
    <br/>
    <p:dataTable styleClass="datatabledig" 
                 emptyMessage="#{msg['lbl_no_registros']}"
                 var="bit" value="#{bitacoraMB.bitacoraLista}">

        <p:column headerText="Fecha creacion" >
            <h:outputText value="#{bit.fechaCrea}">
                 <f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
            </h:outputText>
        </p:column>
        <p:column headerText="Usuario" >
            <h:outputText value="#{bit.usuarioCrea}"/>                                       
        </p:column>
        <p:column headerText="Comentario">
            <h:inputTextarea value="#{bit.observacion}" disabled="true" readonly="true" rows="4" cols="30"/>
        </p:column>
    </p:dataTable>            

</div>