<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/tmpl-tres-a-1-top-menu.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <div class="font-cero font-color-white title-content">
            <h:outputText value="#{msg['lbl_titleAppReporteVariacionCategoria']}" />
        </div>
        <div class="middle-content">

            <div class="formsearch" style="width: 100%; border-bottom-width: 0px !important;">

                <div style="width: 200px; float: left">
                    <p:outputLabel for="consoleaw" value="#{msg['lbl_company']}" />
                    <br />
                    <p:selectOneMenu id="consoleaw" 
                                     required="true" requiredMessage="#{msg['lbl_required']}"
                                     filter="true" filterMatchMode="contains"
                                     value="#{reportesMB.idCompania}" style="width:170px;">
                        <p:ajax listener="#{reportesMB.buscaRetailersPorCompania}" update="selectretail5" />
                        <f:selectItem itemLabel="#{msg['cbo_selectOne']}" itemValue="" />
                        <f:selectItems value="#{reportesMB.listaCompania}"
                                       var="compan" 
                                       itemLabel="#{compan.id} - #{compan.nombre}"
                                       itemValue="#{compan.id}" />
                    </p:selectOneMenu>         
                </div>
                <div style="width: 200px; float: left">
                    <p:outputLabel for="selectretail5" value="#{msg['lbl_retailer']}" />
                    <br />
                    <p:selectOneMenu id="selectretail5" style="width:170px;"
                                     required="true" requiredMessage="#{msg['lbl_required']}"
                                     value="#{reportesMB.retailerId}"
                                     filter="true" filterMatchMode="contains">
                        <f:selectItem itemLabel="#{msg['cbo_selectOne']}" itemValue="" />

                        <f:selectItems value="#{reportesMB.listaRetailer}"
                                       var="retail" 
                                       itemLabel="#{retail.id} - #{retail.nombreComercial} "
                                       itemValue="#{retail.id}" />
                    </p:selectOneMenu>

                </div>

                <div style="width: 200px; float: left">
                    <p:outputLabel  value="#{msg['lbl_mes_anio']}" />
                    <br />
                    <p:selectOneMenu id="lbxMes" style="width:170px;"
                                     required="true" requiredMessage="#{msg['lbl_required']}"
                                     filter="true" filterMatchMode="contains"
                                     value="#{reportesMB.mesSeleccionado}">
                        <f:selectItem itemLabel="#{msg['cbo_selectOne']}" itemValue="" />
                        <f:selectItems value="#{reportesMB.listMeseAnio}" var="item" 
                                       itemLabel="#{item.anio} - #{item.nombre}" itemValue="#{item.id}" />
                    </p:selectOneMenu>                             
                </div> 

                <div style="width: 200px; float: right; padding-top: 17px;">
                    <p:commandButton value="#{msg['cmb_generar']}" icon="ui-icon-search"  process="@form" ajax="false"
                                     styleClass="custombtn" action="#{reportesMB.generaReporteVariacionCategoria}" 
                                     onclick="target='_blank'"></p:commandButton>
                </div>
            </div>
            <div class="formsearch"
                 style="width: 100%; margin-top: 10px; height: 10px;"></div>
        </div>
    </ui:define>
</ui:composition>