<div  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">   

    <p:dialog header="Errores" widgetVar="errorCargaDialog" resizable="false" id="errdialog"
              width="700" height="400" showEffect="explode" hideEffect="explode" >

        <p:panelGrid id="panel" columns="2" >

            <f:facet name="header" />
            <p:dataTable id="tableErrors" var="lerror" value="#{cargaMasivaForecastMB.listaErrores}">
                <p:column headerText="Listado de errores">
                    <h:outputText value="#{lerror}" />
                </p:column>
            </p:dataTable>
        </p:panelGrid>
    </p:dialog>
    
    
</div>