<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<p:outputPanel id="manage-proceso-content" class="ui-fluid">
		<div class="middle-content">
			<div class="formsearch"
				style="width: 100%; border-bottom-width: 0px !important;">
				<div style="float: left; margin: 10px;">
					<p:outputLabel for="lbxMarca" value="#{msg['lbl_grupo_marca']}" />
					<br />
					<p:selectCheckboxMenu id="lbxMarca"
						value="#{scheduledProcessesMB.procesoActual.listMarcas}"
						style="width:180px;" filter="true" filterMatchMode="contains"
						requiredMessage="#{msg['req_grupo_marca']}"
						label="#{msg['cbo_favor_seleccione']}">
						<f:selectItems
							value="#{scheduledProcessesMB.grupoMarcasMap.entrySet()}"
							var="item" itemLabel="#{item.value.id} - #{item.value.nombre}"
							itemValue="#{item.key}" />
					</p:selectCheckboxMenu>
				</div>
				<div style="float: left; margin: 10px;">
					<p:outputLabel value="#{msg['lbl_compania']}" />
					<br />
					<p:selectOneMenu id="lbxComp" style="width:170px;" filter="true"
						filterMatchMode="contains"
						value="#{scheduledProcessesMB.procesoActual.companias}"
						requiredMessage="#{msg['req_compania']}">
						<f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}"
							itemValue="" />
						<f:selectItems
							value="#{scheduledProcessesMB.companiasMap.entrySet()}"
							var="item" itemLabel="#{item.value.id} - #{item.value.nombre}"
							itemValue="#{item.key}" />
						<p:ajax update="lbxRetailer"
							listener="#{scheduledProcessesMB.cargaListaRetailers(scheduledProcessesMB.procesoActual.companias)}"
							event="change" />
					</p:selectOneMenu>
				</div>
				<div style="float: left; margin: 10px;">
					<p:outputLabel value="#{msg['lbl_retailer']}" />
					<br />
					<p:selectCheckboxMenu id="lbxRetailer" dynamic="true"
						value="#{scheduledProcessesMB.procesoActual.listRetailer}"
						style="width:180px;" filter="true" filterMatchMode="contains"
						label="#{msg['cbo_favor_seleccione']}"
						requiredMessage="#{msg['req_retailer']}">
						<f:selectItems
							value="#{scheduledProcessesMB.retailersMap.entrySet()}"
							var="item"
							itemLabel="#{item.value.id} - #{item.value.nombreComercial}"
							itemValue="#{item.key}" />
					</p:selectCheckboxMenu>
				</div>
				<div style="float: left; margin: 10px;">
					<p:outputLabel value="#{msg['lbl_mes_anio']}" />
					<br />
					<p:selectOneMenu id="lbxAnio" filter="true"
						filterMatchMode="contains" style="width:170px;"
						value="#{scheduledProcessesMB.procesoActual.mes}"
						requiredMessage="#{msg['req_mes']}">
						<f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}"
							itemValue="" />
						<f:selectItems value="#{scheduledProcessesMB.mesesMap.entrySet()}"
							var="item" itemLabel="#{item.value.anio}-#{item.value.nombre}"
							itemValue="#{item.key}" />
					</p:selectOneMenu>
				</div>
				<div style="float: left; margin: 10px;">
					<p:outputLabel for="datetime" value="Fecha de Ejecución"
						requiredMessage="#{msg['req_tarea']}" />
					<br />
					<p:calendar id="datetime"
						value="#{scheduledProcessesMB.procesoActual.fechaEjecucion}"
						pattern="MM/dd/yyyy HH:mm:ss" />
				</div>
			</div>
			<div class="formsearch"
				style="width: 100%; border-bottom-width: 0px !important;">
				<h5>Procesos</h5>
				<div style="float: left; margin: 10px;">
					<p:selectBooleanCheckbox
						value="#{scheduledProcessesMB.procesoActual.processVariacionSellOut}"
						itemLabel="Variacion Sell Out" />
				</div>
				<div style="float: left; margin: 10px;">
					<p:selectBooleanCheckbox
						value="#{scheduledProcessesMB.procesoActual.processSemanasRequeridas}"
						itemLabel="Semanas Requeridas" />
				</div>
			</div>


			<div style="width: 350px; float: left; margin: 10px;">
				<p:commandButton ajax="true"
					actionListener="#{scheduledProcessesMB.actualizarProceso()}"
					update="tablaPanel" value="#{msg['cmb_programar']}"
					styleClass="ui-button-success" />
			</div>
		</div>
	</p:outputPanel>

</div>