<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="templates/tmpl-tres-a-1-top-menu.xhtml">

    <ui:define name="metadata">
        <f:view locale="#{languageService.language}"/>
    </ui:define>

    <ui:define name="content">
        
         <style type="text/css">
            /* Change forzen width */
            .ui-datatable-frozenlayout-left {
                width: 20%;
            }
            .ui-frozen-column {
             height: 64px;
            }  
            .dgProductos .ui-frozen-column {
             height: 65px;
            }
        </style>
        
        <div class="font-cero font-color-white title-content">
            <h:outputText value="#{msg['titulo_demand_elevacion']}" />
        </div>

        <p:dialog header="Categoria: #{elevacionSellInMB.nombreCategoria}"   widgetVar="carDialog" modal="true" showEffect="fade"   style="max-height: 100%; " hideEffect="fade" resizable="false" id="dialogProd" width="95%" position="top">
            <h:panelGroup id="tablaProductos" class="roundtablez" layout="block" style="height: 95%">
                <p:dataTable id="dtProducto" var="item" value="#{elevacionSellInMB.lazyProductos}" paginator="true" rows="15"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             lazy ="true"
                             currentPageReportTemplate="{currentPage} de {totalPages}"                             
                             styleClass="datatabledos roundtable dgProductos" 
                             emptyMessage="#{msg['lbl_no_registros']}"                                                        
                             editable="true" editMode="cell" resizableColumns="false"
                             scrollable="true" scrollWidth="100%" 
                             style="margin-bottom:0" 
                             scrollHeight="400" frozenColumns="3" >
   
                    <p:ajax event="page"  oncomplete="#{elevacionSellInMB.verificarDimensionDatoMaestro()}" update="dtProducto"></p:ajax>                                  
                    <f:facet name="header">
                        <p:selectCheckboxMenu value="#{elevacionSellInMB.selectItems}" label="Columnas" style="float: right;"   >
                            <f:selectItem itemLabel="UPC" itemValue="UPC"  />
                            <f:selectItem itemLabel="Modelo" itemValue="Modelo"  />
                            <f:selectItem itemLabel="Descripción" itemValue="Producto"/>
                            <p:ajax  listener="#{elevacionSellInMB.selecion()}" event="toggleSelect"  update="dtProducto"  ></p:ajax>
                            <p:ajax  listener="#{elevacionSellInMB.selecion()}" event="change"  update="dtProducto"  ></p:ajax>
                        </p:selectCheckboxMenu>

                    </f:facet>
                    
                    <p:columnGroup type="frozenHeader">
                        <p:row>                  
                            <p:column rowspan="2" headerText="UPC" width="120" visible="#{elevacionSellInMB.upc}"/>              
                            <p:column rowspan="2" headerText="Modelo" width="120" visible="#{elevacionSellInMB.modelo}"/> 
                            <p:column rowspan="2" headerText="Descripción" width="250" visible="#{elevacionSellInMB.descripcion}"/>
                        </p:row>  
                    </p:columnGroup>
                        
                    <p:columnGroup type="scrollableHeader" >
                        <p:row> 
                            <ui:repeat value="#{elevacionSellInMB.nombreMeses}" var="mes" >
                                <p:column colspan = "4" headerText="#{mes}" style="width:450px;" />                                    
                            </ui:repeat>        
                        </p:row>
                        <p:row> 
                            <ui:repeat value="#{elevacionSellInMB.nombreMeses}" var="mes">
                                <p:column headerText="SellIn Propuesto" />
                                <p:column headerText="Forecast Kam" />
                                <p:column headerText="Total Propuesto"/>
                                <p:column headerText="Total Forecast Kam" />                                                                                      
                            </ui:repeat>
                        </p:row>
                    </p:columnGroup>        
                        
                <p:ajax event="cellEdit" listener="#{elevacionSellInMB.onCellEdit}"  />                    
                    
                    <p:column visible="#{elevacionSellInMB.upc}">
                        <h:outputText value="#{item.upc}" />                       
                    </p:column>

                    <p:column visible="#{elevacionSellInMB.modelo}">
                        <h:outputText value="#{item.modelo}"  />   
                    </p:column>
                    
                    <p:column visible="#{elevacionSellInMB.descripcion}">
                        <h:outputText value="#{item.nombreProducto}" style="#{item.estadoProducto == 'D' ? 'color: red; ' : item.estadoProducto == 'L' ? 'color: lime; '  : item.estadoProducto == 'V' ? 'color: orange; font-weight: bold; '  : 'color: lightslategray; '}"/>
                    </p:column>

                    <c:forEach items="#{elevacionSellInMB.nombreMeses}" var="mes">
                        <p:column>
                            <h:outputText value="#{item.informacionForecastMes[mes].sellInPropuesto}"/>
                        </p:column>   
                        
                        <p:column>
                            <h:outputText value="#{item.informacionForecastMes[mes].forecast}"  rendered="#{elevacionSellInMB.inactivarEdit == true}"   style="font-weight: bold;"/>

                            <p:cellEditor rendered="#{elevacionSellInMB.inactivarEdit == false}">
                                <f:facet name="output">
                                    <h:outputText value="#{item.informacionForecastMes[mes].forecast}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputText value="#{item.informacionForecastMes[mes].forecast}" validatorMessage="El valor ingresado no puede ser inferior a : 0">
                                        <f:validateLongRange minimum="0"  /> 
                                    </h:inputText>
                                </f:facet>
                            </p:cellEditor>                                
                        </p:column>  

                        <p:column>
                            <h:outputText value="#{item.informacionForecastMes[mes].totalPropuesto}">
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </h:outputText>
                        </p:column>  

                        <p:column>
                            <h:outputText value="#{item.informacionForecastMes[mes].totalForecastKam}">
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </h:outputText>
                        </p:column>  

                    </c:forEach> 

                </p:dataTable>
            </h:panelGroup>
        </p:dialog>

        <div class="middle-content">

            <div class="formsearch" style="width: 100%; border-bottom-width: 0px !important;">

                <div id="d1" style="width: 200px; float: left">
                    <p:outputLabel for="lbxMarca" value="#{msg['lbl_marca']}" />
                    <br />
                    <p:selectOneMenu id="lbxMarca" value="#{elevacionSellInMB.grupoMarcaSeleccionadaIde}" required="true" requiredMessage="#{msg['req_marca']}"
                                     style="width:170px;" filter="true" filterMatchMode="contains">
                        <f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}" itemValue="" />
                        <f:selectItems value="#{elevacionSellInMB.grupoMarcasMap.entrySet()}" var="item" itemLabel="#{item.value.id} - #{item.value.nombre}" itemValue="#{item.key}" />                        
                    </p:selectOneMenu>
                </div> 

                <div style="width: 200px; float: left">
                    <p:outputLabel  value="#{msg['lbl_compania']}" />
                    <br />
                    <p:selectOneMenu id="lbxComp" filter="true"
                                     value="#{elevacionSellInMB.companiaSeleccionadaIde}"
                                     style="width:170px;" filterMatchMode="contains"
                                     required="true" requiredMessage="#{msg['req_compania']}" disabled="#{elevacionSellInMB.unicaCompania}">

                        <f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}" itemValue="" />
                        <f:selectItems value="#{elevacionSellInMB.companiasMap.entrySet()}" var="item" 
                                       itemLabel="#{item.value.id} - #{item.value.nombre}" itemValue="#{item.key}" />                                                
                    </p:selectOneMenu>                             
                </div> 


                <div style="width: 200px; float: left">
                    <p:outputLabel  value="#{msg['lbl_retailer']}" />
                    <br />
                    <p:selectOneMenu id="lbxRetailer" filter="true" 
                                     value="#{elevacionSellInMB.retailerSeleccionadoIde}" disabled="true"
                                     style="width:170px;">

                        <f:selectItem itemLabel="Retailer Otros" itemValue="" />                                                

                    </p:selectOneMenu>                             
                </div> 

                <div style="width: 200px; float: left">
                    <p:outputLabel  value="#{msg['lbl_mes_anio']}" />
                    <br />
                    <p:selectOneMenu id="lbxAnio" filter="true" filterMatchMode="contains"
                                     value="#{elevacionSellInMB.mesSeleccionadoIde}"
                                     style="width:170px;"
                                     required="true" requiredMessage="#{msg['req_mes']}">

                        <f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}" itemValue="" />
                        <f:selectItems value="#{elevacionSellInMB.mesesMap.entrySet()}" var="item" 
                                       itemLabel="#{item.value.anio}-#{item.value.nombre}" itemValue="#{item.key}" />

                    </p:selectOneMenu>                             
                </div> 

                <h:panelGroup id="estadoB" style="width: 150px; float: left">
                    <p:outputLabel id="olblEstado" value="Estado Forecast" rendered="#{elevacionSellInMB.estadoForecast != null}" />
                    <br />
                    <p:inputText id="lblEstado" value="#{elevacionSellInMB.estadoForecast}" disabled="true" readonly="true" 
                                 rendered="#{elevacionSellInMB.estadoForecast.length() >0}" ></p:inputText>                          
                </h:panelGroup>

                <div style="width: 350px; float: right">
                    <p:commandButton styleClass="custombtn" ajax="true" update="dtProds, estadoB, guarda, envia, botA,botones2"  
                                     actionListener="#{elevacionSellInMB.consultar()}" value="#{msg['cmb_consultar']}" />                    
                    <h:panelGroup id="botA">
                        <p:commandButton styleClass="custombtn" ajax="true" update="dtProds,botA,estadoB,actualiza"  
                                         id="envia"  actionListener="#{elevacionSellInMB.guardarParcial()}" value="#{msg['cmb_guardar']}" disabled="#{elevacionSellInMB.estadoForecast.equalsIgnoreCase('CERR')}" 
                                         rendered="#{elevacionSellInMB.mostrarBotnConfirmar==true}" /> 
                        <p:commandButton styleClass="custombtn" ajax="true" update="dtProds,botA,estadoB,actualiza"
                                         id="guarda"  actionListener="#{elevacionSellInMB.guardarEnviar()}" value="#{msg['cmb_confirmar_enviar']}" disabled="#{elevacionSellInMB.estadoForecast.equalsIgnoreCase('CERR') }" 
                                         rendered="#{elevacionSellInMB.mostrarBotnConfirmar==true}"/>  
                    </h:panelGroup>

                    <p:spacer width="20"/>

                    <h:commandLink actionListener="#{elevacionSellInMB.exportarAExcel()}">
                        <p:graphicImage library="images" name="ico_excel2.png" width="25" title="#{msg['tit_exportar']}" />
                    </h:commandLink>
                </div>

            </div>  <!--  FIN FILA  -->
            
                <div>
                    <div class="formsearch" style="width: 100%; border-bottom-width: 0px !important;">
                        <h:panelGroup id="botones2" >
                            <p:commandButton styleClass="custombtn" ajax="true" disabled="#{elevacionSellInMB.estadoForecast.equalsIgnoreCase('CERR')}"          
                            id="actualiza" 
                            value="#{msg['cmb_actualiza']}" 
                            update="dtProds"
                            rendered="#{elevacionSellInMB.mostrarBotnConfirmar==true}"/> 
                        </h:panelGroup>
                    </div>
                </div>    

            <div class="roundtablez">

                <p:dataTable id="dtProds" var="item" value="#{elevacionSellInMB.lazyCategoria}" paginator="true" rows="10"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             selectionMode="single" lazy ="true"
                             currentPageReportTemplate="{currentPage} de {totalPages}"                             
                             styleClass="datatabledos roundtable" 
                             emptyMessage="#{msg['lbl_no_registros']}"
                             editable="true"  editMode="cell" resizableColumns="false"
                             scrollable="true" scrollWidth="100%" scrollHeight="400"
                             style="margin-bottom:0" frozenColumns="1" >
                    
                    <p:columnGroup type="frozenHeader">
                        <p:row>       
                            <p:column rowspan="2" headerText="Categoria" style="width:350px"/> 
                        </p:row>
                    </p:columnGroup>

                    <p:columnGroup type="scrollableHeader">
                        <p:row>
                            <ui:repeat value="#{elevacionSellInMB.nombreMeses}" var="mes" >
                                <p:column colspan = "4" headerText="#{mes}" style="width:450px;"/>                                    
                            </ui:repeat>
                            <p:column rowspan="2" headerText="" style="width:32px" />                           
                        </p:row>

                        <p:row> 
                            <ui:repeat value="#{elevacionSellInMB.nombreMeses}" var="mes">
                                <p:column headerText="SellIn Propuesto"/>
                                <p:column headerText="Forecast Kam" />
                                <p:column headerText="Total Propuesto" />
                                <p:column headerText="Total Forecast Kam" />                                                                                      
                            </ui:repeat>                                
                        </p:row>
                    </p:columnGroup>
                       
                 <p:column>
                        <h:outputText value="#{item.nombreProducto}" style="font-weight: bold;"/>

                    </p:column>   

                    <c:forEach items="#{elevacionSellInMB.nombreMeses}" var="mes">
                        <p:column>
                            <h:outputText value="#{item.informacionForecastMes[mes].sellInPropuesto}"/>
                        </p:column> 

                        <p:column>                                
                            <h:outputText value="#{item.informacionForecastMes[mes].forecast}"  rendered="#{item.esProdcuto==false}"   style="font-weight: bold;"/>
                        </p:column> 

                        <p:column>
                            <h:outputText value="#{item.informacionForecastMes[mes].totalPropuesto}">
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </h:outputText>
                        </p:column>  

                        <p:column>
                            <h:outputText value="#{item.informacionForecastMes[mes].totalForecastKam}">
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </h:outputText>
                        </p:column>  
                    </c:forEach> 

                    <p:column style="width:32px" exportable="false">
                        <p:commandButton actionListener="#{elevacionSellInMB.cargarDialogo(item)}" icon="ui-icon-search" title="Visualizar" update="@form" rendered="#{item.esTotalMarca==false}" />
                    </p:column> 
                </p:dataTable>               

            </div> <!--  FIN FILA  -->

            <br/>

            <div class="formsearch" style="float: right">


            </div> <!--  FIN FILA  -->
        </div>  <!--  middle-content -->
         <script>
            function slideColumn(comp) {
                $('.ui-datatable-frozenlayout-left').css("width", comp.input.val() + "%");
            }
        </script>
    </ui:define>
</ui:composition>