<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="templates/tmpl-tres-a-1-top-menu.xhtml">

	<ui:define name="metadata">
		<f:view locale="#{languageService.language}" />
	</ui:define>

	<ui:define name="content">
		<style type="text/css">
/* Change forzen width */
.ui-datatable-frozenlayout-left {
	width: 20%;
}

.ui-frozen-column {
	height: 64px;
}

.dgProductos .ui-frozen-column {
	height: 65px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.black {
	color: black;
}
</style>

		<p:dialog header="Bitacora" widgetVar="bitacoraDialog"
			resizable="false" id="dialog" width="700" height="400"
			showEffect="explode" hideEffect="explode">
			<ui:include src="/bitacoraDialog.xhtml" />
		</p:dialog>

		<p:dialog header="Confirmar Enviar" widgetVar="confirmarDialog"
			resizable="false" id="dialogconfir" width="600" height="200"
			showEffect="explode" hideEffect="explode" modal="true" position="top">
			<p:outputLabel rendered="#{forecastCompaniaMB.hayForecastDevlKam}"
				style="color: red;" value="Hay Forecast abiertos, favor validar" />
			<br />
			<p:outputLabel value="#{forecastCompaniaMB.mensajeForecast}" />
			<br></br>
			<br></br>
			<ui:repeat value="#{forecastCompaniaMB.retailerForecast}" var="re">
				<p:outputLabel
					styleClass="#{re.nombreComercial.contains('ABIERTO KAM') == true ? 'red': re.nombreComercial.contains('CERRADO KAM') ? 'green' :black}"
					value="- #{re.nombreComercial}" />
				<br></br>
			</ui:repeat>
			<h:panelGrid columns="2">
				<p:commandButton value="Yes" styleClass="custombtn"
					icon="ui-icon-check"
					update="lbxMarca,lbxComp,lbxRetailer,lbxAnio,dtProds,botonE,dialogconfir,estadoB"
					actionListener="#{forecastCompaniaMB.guardarNivelCompanhia()}" />
				<p:commandButton value="No" styleClass="custombtn"
					icon="ui-icon-close" onclick="PF('confirmarDialog').hide();" />
			</h:panelGrid>
		</p:dialog>

		<h:panelGroup id="ProductosDialog">
			<p:dialog header="Categoria: #{forecastCompaniaMB.nombreCategoria}"
				widgetVar="carDialog" modal="true"
				style="max-height: 100%; max-width: 100%; " responsive="true"
				showEffect="fade" hideEffect="fade" resizable="false"
				id="dialogProd" width="95%" position="top">
				<h:panelGroup id="tablaProductos" class="roundtablez" layout="block"
					style="height: 95%">
					<p:commandButton id="btren" style="display:  none;" value="1">
						<p:ajax event="click" update="dtProductos"></p:ajax>
					</p:commandButton>
					<p:dataTable id="dtProductos" var="item"
						value="#{forecastCompaniaMB.lazyProductos}" paginator="true"
						rows="15"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						lazy="true"
						currentPageReportTemplate="{currentPage} de {totalPages}"
						styleClass="datatabledos roundtable dgProductos"
						emptyMessage="#{msg['lbl_no_registros']}" editable="true"
						editMode="cell" resizableColumns="false" scrollable="true"
						scrollWidth="100%" style="margin-bottom:0" scrollHeight="400"
						frozenColumns="3">

						<p:ajax event="page"
							oncomplete="#{forecastCompaniaMB.verificarDimensionDatoMaestro()}"
							update="dtProductos"></p:ajax>
						<p:ajax event="filter"
							onsuccess="document.getElementById('mainForm:btren').click();"
							update="@none" />

						<f:facet name="header">
							<p:selectCheckboxMenu value="#{forecastCompaniaMB.selectItems}"
								label="Columnas" style="float: right;">
								<f:selectItem itemLabel="UPC" itemValue="UPC" />
								<f:selectItem itemLabel="Modelo" itemValue="Modelo" />
								<f:selectItem itemLabel="Descripción" itemValue="Producto" />
								<p:ajax listener="#{forecastCompaniaMB.selecion()}"
									event="toggleSelect" update="dtProductos"></p:ajax>
								<p:ajax listener="#{forecastCompaniaMB.selecion()}"
									event="change" update="dtProductos"></p:ajax>
							</p:selectCheckboxMenu>

						</f:facet>

						<p:columnGroup type="frozenHeader">
							<p:row>
								<p:column rowspan="2" headerText="UPC" width="120"
									visible="#{forecastCompaniaMB.upc}" filterBy="#{item.upc}"
									filterMatchMode="contains" />
								<p:column rowspan="2" headerText="Modelo" width="110"
									visible="#{forecastCompaniaMB.modelo}"
									filterBy="#{item.modelo}" filterMatchMode="contains" />
								<p:column rowspan="2" headerText="Descripción" width="250"
									visible="#{forecastCompaniaMB.descripcion}" />
							</p:row>
						</p:columnGroup>


						<p:columnGroup type="scrollableHeader">
							<p:row>
								<ui:repeat value="#{forecastCompaniaMB.nombreMeses}" var="mes">
									<p:column
										colspan="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply ? '9' : '6'}"
										headerText="#{mes}"
										style="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply ? 'width:1000px' : 'width:750px'}" />
								</ui:repeat>
							</p:row>
							<p:row>
								<ui:repeat value="#{forecastCompaniaMB.nombreMeses}" var="mes">
									<p:column headerText="SellIn Propuesto" />
									<p:column headerText="Total Propuesto" />
									<p:column headerText="Forecast Kam" />
									<p:column headerText="Total Forecast Kam" />
									<p:column headerText="Forecast Gerente" />
									<p:column headerText="Total Forecast Gerente" />
									<p:column headerText="Unidades Despachadas"
										rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }" />
									<p:column headerText="Total Unidades Despachadas"
										rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }" />
									<p:column headerText="Unidades Faltantes"
										rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }" />
								</ui:repeat>
							</p:row>
						</p:columnGroup>


						<p:ajax event="cellEdit"
							listener="#{forecastCompaniaMB.onCellEdit}" />


						<p:column visible="#{forecastCompaniaMB.upc}">
							<h:outputText value="#{item.upc}" />
						</p:column>

						<p:column visible="#{forecastCompaniaMB.modelo}">
							<h:outputText value="#{item.modelo}" />
						</p:column>

						<p:column visible="#{forecastCompaniaMB.descripcion}">
							<h:outputText value="#{item.nombreProducto}"
								style="#{item.esProdcuto==false?'font-weight: bold;':(item.estadoProducto == 'D' ? 'color: red; ' : item.estadoProducto == 'L' ? 'color: lime; '  : item.estadoProducto == 'V' ? 'color: orange; font-weight: bold; '  : 'color: lightslategray; ')}" />
						</p:column>


						<c:forEach items="#{forecastCompaniaMB.nombreMeses}" var="mes">
							<p:column>
								<h:outputText
									value="#{item.informacionForecastMes[mes].sellInPropuesto}" />

							</p:column>
							<p:column>
								<h:outputText
									value="#{item.informacionForecastMes[mes].totalPropuesto}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
								</h:outputText>
							</p:column>
							<p:column>
								<h:outputText
									value="#{item.informacionForecastMes[mes].forecast}"
									style="font-weight: bold;" />

							</p:column>
							<p:column>
								<h:outputText
									value="#{item.informacionForecastMes[mes].totalForecastKam}" />
							</p:column>

							<p:column>

								<h:outputText
									value="#{item.informacionForecastMes[mes].forecastGerente}"
									rendered="#{item.esProdcuto==false}" style="font-weight: bold;" />

								<h:outputText
									rendered="#{item.esProdcuto  and forecastCompaniaMB.inactivarEdit==false}"
									value="#{item.informacionForecastMes[mes].forecastGerente}" />

								<p:cellEditor
									rendered="#{item.esProdcuto and forecastCompaniaMB.inactivarEdit and forecastCompaniaMB.consultaRetailer}">
									<f:facet name="output">
										<h:outputText
											value="#{item.informacionForecastMes[mes].forecastGerente}" />
									</f:facet>
									<f:facet name="input">
										<h:inputText
											value="#{item.informacionForecastMes[mes].forecastGerente}"
											validatorMessage="El valor ingresado no puede ser inferior a : 0">
											<f:validateLongRange minimum="0" />

										</h:inputText>
									</f:facet>
								</p:cellEditor>

							</p:column>
							<p:column>
								<h:outputText
									value="#{item.informacionForecastMes[mes].totalForecastGerente}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
								</h:outputText>
							</p:column>

							<p:column
								rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }">
								<h:outputText
									value="#{item.informacionForecastMes[mes].unidadesDespachadas}"
									style="#{item.informacionForecastMes[mes].unidadesFaltantes &gt; 0 ?'color: red; font-weight: bold;' : null}" />
							</p:column>

							<p:column
								rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }">
								<h:outputText
									value="#{item.informacionForecastMes[mes].totalUnidaDespachadas}"
									style="#{item.informacionForecastMes[mes].unidadesFaltantes &gt; 0 ?'color: red; font-weight: bold;' : null}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
								</h:outputText>
							</p:column>

							<p:column
								rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }">
								<h:outputText
									value="#{item.informacionForecastMes[mes].unidadesFaltantes}"
									style="#{item.informacionForecastMes[mes].unidadesFaltantes &gt; 0 ?'color: red; font-weight: bold;' : null}" />
							</p:column>

						</c:forEach>
					</p:dataTable>
				</h:panelGroup>
			</p:dialog>
		</h:panelGroup>

		<div class="font-cero font-color-white title-content">
			<h:outputText value="#{msg['titulo_forecast_compania']}" />
		</div>

		<div class="middle-content">
			<div class="formsearch"
				style="width: 100%; border-bottom-width: 0px !important;">
				<div id="d1" style="width: 200px; float: left">
					<p:outputLabel for="lbxMarca" value="#{msg['lbl_marca']}" />
					<br />
					<p:selectCheckboxMenu id="lbxMarca"
						value="#{forecastCompaniaMB.selectedMarca}" style="width:180px;"
						filter="true" filterMatchMode="contains" required="true"
						requiredMessage="#{msg['req_marca']}"
						label="#{msg['cbo_favor_seleccione']}">
						<f:selectItems
							value="#{forecastCompaniaMB.grupoMarcasMap.entrySet()}"
							var="item" itemLabel="#{item.value.id} - #{item.value.nombre}"
							itemValue="#{item.key}" />
					</p:selectCheckboxMenu>
				</div>

				<div style="width: 200px; float: left">
					<p:outputLabel value="#{msg['lbl_compania']}" />
					<br />
					<p:selectOneMenu id="lbxComp" style="width:170px;"
						value="#{forecastCompaniaMB.companiaSeleccionadaIde}"
						required="true" requiredMessage="#{msg['req_compania']}"
						filter="true" filterMatchMode="contains"
						disabled="#{forecastCompaniaMB.unicaCompania}">
						<f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}"
							itemValue="" />
						<f:selectItems
							value="#{forecastCompaniaMB.companiasMap.entrySet()}" var="item"
							itemLabel="#{item.value.id} - #{item.value.nombre}"
							itemValue="#{item.key}" />
						<p:ajax update="lbxRetailer"
							listener="#{forecastCompaniaMB.cargaListaRetailers()}"
							event="change" />
					</p:selectOneMenu>
				</div>

				<div style="width: 200px; float: left">
					<p:outputLabel value="#{msg['lbl_retailer_sin']}" />
					<br />
					<p:selectCheckboxMenu id="lbxRetailer" dynamic="true"
						value="#{forecastCompaniaMB.selectedRetailer}"
						style="width:180px;" filter="true" filterMatchMode="contains"
						label="#{msg['cbo_favor_seleccione']}">
						<f:selectItems
							value="#{forecastCompaniaMB.retailersMap.entrySet()}" var="item"
							itemLabel="#{item.value.id} - #{item.value.nombreComercial}"
							itemValue="#{item.key}" />
						<p:ajax listener="#{forecastCompaniaMB.valRenderedExcel()}"
							update="exportar" event="change" />

					</p:selectCheckboxMenu>
				</div>

				<div style="width: 200px; float: left">
					<p:outputLabel value="#{msg['lbl_mes_anio']}" />
					<br />
					<p:selectOneMenu id="lbxAnio" filter="true"
						filterMatchMode="contains" style="width:170px;"
						value="#{forecastCompaniaMB.mesSeleccionadoIde}">
						<f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}"
							itemValue="" />
						<f:selectItems value="#{forecastCompaniaMB.mesesMap.entrySet()}"
							var="item" itemLabel="#{item.value.anio}-#{item.value.nombre}"
							itemValue="#{item.key}" />
					</p:selectOneMenu>
				</div>


				<h:panelGroup id="estadoB" style="width: 150px; float: left">
					<p:outputLabel id="olblEstado" value="Estado Forecast"
						rendered="#{forecastCompaniaMB.estadoForecast != null}" />
					<br />
					<p:inputText id="lblEstado"
						value="#{forecastCompaniaMB.estadoForecast}" disabled="true"
						readonly="true"
						rendered="#{forecastCompaniaMB.estadoForecast != null}"></p:inputText>
				</h:panelGroup>

				<div style="width: 360px; float: right">
					<p:commandButton styleClass="custombtn" ajax="true"
						update="dtProds,estadoB,botonE,acturalizar, botonDevolver, exportar"
						actionListener="#{forecastCompaniaMB.consultar()}"
						value="#{msg['cmb_consultar']}" />

					<h:panelGroup id="botonDevolver">
						<p:commandButton styleClass="custombtn" ajax="true"
							rendered="#{forecastCompaniaMB.consultaRetailer == true and forecastCompaniaMB.hayRetailersSinOtros and forecastCompaniaMB.mostrarBotones}"
							id="devuelve" update="dtProds,estadoB,botonE,acturalizar"
							disabled="#{forecastCompaniaMB.estadoForecast.equalsIgnoreCase('CERR') }"
							value="#{msg['cmb_devolver']}"
							actionListener="#{forecastCompaniaMB.devolver()}" />
						<p:spacer width="20" />
					</h:panelGroup>

					<h:panelGroup id="botonE">
						<p:commandButton styleClass="custombtn" ajax="true"
							rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.mostrarBotones}"
							id="envia"
							update="lbxMarca,lbxComp,lbxRetailer,lbxAnio,dtProds,botonE,dialogconfir,estadoB"
							disabled="#{forecastCompaniaMB.estadoForecast.equalsIgnoreCase('CERR') }"
							oncomplete="PF('confirmarDialog').show();"
							value="#{msg['cmb_confirmar_enviar']}" />
						<p:spacer width="20" />
					</h:panelGroup>

					<h:panelGroup id="exportar">
						<h:commandLink dynamic="true"
							disabled="#{!forecastCompaniaMB.renderedExcel}"
							visible="#{forecastCompaniaMB.renderedExcel}"
							actionListener="#{forecastCompaniaMB.exportarAExcel()}">
							<p:graphicImage library="images" name="ico_excel2.png" width="25"
								title="#{msg['tit_exportar']}" />
						</h:commandLink>
					</h:panelGroup>

				</div>
			</div>
			<!--  FIN FILA  -->


			<div>
				<div class="formsearch"
					style="width: 100%; border-bottom-width: 0px !important;">
					<p:commandButton value="Bitacora"
						action="#{bitacoraMB.consultarBitacora}" update="dialog"
						rendered="true" oncomplete="PF('bitacoraDialog').show();"
						styleClass="custombtn" />

					<h:panelGroup id="acturalizar">
						<p:commandButton value="Actualizar" update="dtProds"
							rendered="#{forecastCompaniaMB.consultaRetailer == true and forecastCompaniaMB.inactivarEdit }"
							disabled="#{forecastCompaniaMB.estadoForecast.equalsIgnoreCase('ELSE') and forecastCompaniaMB.estadoForecast.equalsIgnoreCase('DEVL') and forecastCompaniaMB.estadoForecast.equalsIgnoreCase('Devuelto') }"
							ajax="true" styleClass="custombtn" />
					</h:panelGroup>
					<br /> <br />
					<p:outputLabel value="#{msg['lbl_observacion']}" />
					<br />
					<p:inputTextarea id="observacion" rows="3" cols="35"
						autoResize="false" scrollHeight="10" maxlength="500"
						value="#{forecastCompaniaMB.observacion}" style="resize: none">
					</p:inputTextarea>
				</div>

				<br></br> <br></br> <br></br> <br></br>

				<div class="roundtablez" id="tablaProd">

					<p:dataTable id="dtProds" var="item"
						value="#{forecastCompaniaMB.lazyModelCag}" paginator="true"
						rows="10"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						selectionMode="single" lazy="true"
						currentPageReportTemplate="{currentPage} de {totalPages}"
						styleClass="datatabledos roundtable"
						emptyMessage="#{msg['lbl_no_registros']}" editable="true"
						editMode="cell" resizableColumns="false" scrollable="true"
						scrollWidth="100%" scrollHeight="400" style="margin-bottom:0"
						frozenColumns="2">

						<p:columnGroup type="frozenHeader">
							<p:row>

								<p:column rowspan="2" style="width:32px" exportable="false">

								</p:column>

								<p:column rowspan="2" headerText="Categoria" style="width:350px" />
							</p:row>
						</p:columnGroup>

						<p:columnGroup type="scrollableHeader">
							<p:row>
								<ui:repeat value="#{forecastCompaniaMB.nombreMeses}" var="mes">
									<p:column
										colspan="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply ? '9' : '6'}"
										headerText="#{mes}"
										style="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply ? 'width:1000px' : 'width:750px'}" />
								</ui:repeat>
							</p:row>
							<p:row>
								<ui:repeat value="#{forecastCompaniaMB.nombreMeses}" var="mes">
									<p:column headerText="SellIn Propuesto" />
									<p:column headerText="Total Propuesto" />
									<p:column headerText="Forecast Kam" />
									<p:column headerText="Total Forecast Kam" />
									<p:column headerText="Forecast Gerente" />
									<p:column headerText="Total Forecast Gerente" />
									<p:column headerText="Unidades Despachadas"
										rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }" />
									<p:column headerText="Total Unidades Despachadas"
										rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }" />
									<p:column headerText="Unidades Faltantes"
										rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }" />
								</ui:repeat>
							</p:row>
						</p:columnGroup>

						<p:column style="width:32px" exportable="false">
							<p:commandButton
								actionListener="#{forecastCompaniaMB.cargarDialogo(item)}"
								icon="ui-icon-search" title="Visualizar"
								update=":mainForm:tablaProductos, :mainForm:ProductosDialog"
								rendered="#{item.esTotalMarca==false}" />
						</p:column>

						<p:column>
							<h:outputText value="#{item.nombreProducto}"
								style="#{item.esProdcuto==false?'font-weight: bold;': (item.estadoProducto == 'D' ? 'color: red; ' : item.estadoProducto == 'L' ? 'color: lime; '  : 'color: lightslategray; ')}" />
						</p:column>

						<c:forEach items="#{forecastCompaniaMB.nombreMeses}" var="mes">
							<p:column>
								<h:outputText
									value="#{item.informacionForecastMes[mes].sellInPropuesto}" />

							</p:column>
							<p:column>
								<h:outputText
									value="#{item.informacionForecastMes[mes].totalPropuesto}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
								</h:outputText>
							</p:column>
							<p:column>
								<h:outputText
									value="#{item.informacionForecastMes[mes].forecast}"
									style="font-weight: bold;" />

							</p:column>
							<p:column>
								<h:outputText
									value="#{item.informacionForecastMes[mes].totalForecastKam}" />
							</p:column>

							<p:column>

								<h:outputText
									value="#{item.informacionForecastMes[mes].forecastGerente}"
									rendered="#{item.esProdcuto==false}" style="font-weight: bold;" />

								<h:outputText
									rendered="#{item.esProdcuto  and forecastCompaniaMB.inactivarEdit==false}"
									value="#{item.informacionForecastMes[mes].forecastGerente}" />

								<p:cellEditor
									rendered="#{item.esProdcuto and forecastCompaniaMB.inactivarEdit and forecastCompaniaMB.consultaRetailer}">
									<f:facet name="output">
										<h:outputText
											value="#{item.informacionForecastMes[mes].forecastGerente}" />
									</f:facet>
									<f:facet name="input">
										<h:inputText
											value="#{item.informacionForecastMes[mes].forecastGerente}"
											validatorMessage="El valor ingresado no puede ser inferior a : 0">
											<f:validateLongRange minimum="0" />

										</h:inputText>
									</f:facet>
								</p:cellEditor>

							</p:column>
							<p:column>
								<h:outputText
									value="#{item.informacionForecastMes[mes].totalForecastGerente}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
								</h:outputText>
							</p:column>

							<p:column
								rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }">
								<h:outputText
									value="#{item.informacionForecastMes[mes].unidadesDespachadas}"
									style="#{item.informacionForecastMes[mes].unidadesFaltantes &gt; 0 ?'color: red; font-weight: bold;' : null}" />
							</p:column>

							<p:column
								rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }">
								<h:outputText
									value="#{item.informacionForecastMes[mes].totalUnidaDespachadas}"
									style="#{item.informacionForecastMes[mes].unidadesFaltantes &gt; 0 ?'color: red; font-weight: bold;' : null}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
								</h:outputText>
							</p:column>

							<p:column
								rendered="#{forecastCompaniaMB.consultaRetailer == false and forecastCompaniaMB.estadoSupply }">
								<h:outputText
									value="#{item.informacionForecastMes[mes].unidadesFaltantes}"
									style="#{item.informacionForecastMes[mes].unidadesFaltantes &gt; 0 ?'color: red; font-weight: bold;' : null}" />
							</p:column>

						</c:forEach>
					</p:dataTable>
				</div>
				<!--  FIN FILA  -->
			</div>

			<br /> <br />
			<div class="formsearch" style="float: right"></div>
			<!--  FIN FILA  -->


		</div>
		<!--  middle-content -->
		<script>
			function slideColumn(comp) {
				$('.ui-datatable-frozenlayout-left').css("width",
						comp.input.val() + "%");
			}
		</script>
	</ui:define>
</ui:composition>