<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="templates/tmpl-tres-a-1-top-menu.xhtml">

    <ui:define name="metadata">
        <f:view locale="#{languageService.language}"/>
    </ui:define>

    <ui:define name="content">
         <style type="text/css">
            /* Change forzen width */
            .ui-datatable-frozenlayout-left {
              width: 20%;
            }
            .ui-frozen-column {
              height: 64px;
            }
        </style>

        <p:dialog header="Bitacora" widgetVar="bitacoraDialog" resizable="false" id="dialog"
                  width="700" height="400" showEffect="explode" hideEffect="explode" >
            <ui:include src="/bitacoraDialog.xhtml" />        
        </p:dialog>
        
        <div class="font-cero font-color-white title-content">
            <h:outputText value="#{msg['titulo_forecast_general']}" />
        </div>


        <div class="middle-content">
            <div class="formsearch" style="width: 100%; border-bottom-width: 0px !important;">

                <div id="d1" style="width: 200px; float: left">
                    <p:outputLabel for="lbxMarca" value="#{msg['lbl_marca']}" />
                    <br />
                    <p:selectCheckboxMenu id="lbxMarca" value="#{forecastGeneralMB.selectedMarca}" style="width:180px;" filter="true" filterMatchMode="contains"
                                          required="true" requiredMessage="#{msg['req_marca']}" label="#{msg['cbo_favor_seleccione']}" >
                        <f:selectItems value="#{forecastGeneralMB.grupoMarcasMap.entrySet()}" var="item" itemLabel="#{item.value.id} - #{item.value.nombre}" itemValue="#{item.key}" />
                    </p:selectCheckboxMenu>
                </div> 

                <div style="width: 200px; float: left">
                    <p:outputLabel  value="#{msg['lbl_compania_sin']}" />
                    <br />
                    <p:selectOneMenu id="lbxComp" style="width:170px;" filter="true" filterMatchMode="contains"
                                     value="#{forecastGeneralMB.companiaSeleccionadaIde}">

                        <f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}" itemValue="" />
                        <f:selectItems value="#{forecastGeneralMB.companiasMap.entrySet()}" var="item" 
                                       itemLabel="#{item.value.id} - #{item.value.nombre}" itemValue="#{item.key}" />

                    </p:selectOneMenu>                             
                </div> 

                <div style="width: 200px; float: left">
                    <p:outputLabel  value="#{msg['lbl_mes_anio']}" />
                    <br />
                    <p:selectOneMenu id="lbxAnio" filter="true" filterMatchMode="contains" style="width:170px;"
                                     value="#{forecastGeneralMB.mesSeleccionadoIde}">

                        <f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}" itemValue="" />
                        <f:selectItems value="#{forecastGeneralMB.mesesMap.entrySet()}" var="item" 
                                       itemLabel="#{item.value.anio}-#{item.value.nombre}" itemValue="#{item.key}" />

                    </p:selectOneMenu>                             
                </div>

                <h:panelGroup id="estadoB" style="width: 150px; float: left">
                    <p:outputLabel id="olblEstado" value="Estado Forecast" rendered="#{forecastGeneralMB.estadoForecast != null}" />
                    <br />
                    <p:inputText id="lblEstado" value="#{forecastGeneralMB.estadoForecast}" disabled="true" readonly="true" rendered="#{forecastGeneralMB.estadoForecast != null}" ></p:inputText>                          
                </h:panelGroup> 

                <div style="width: 340px; float: right">
                    <p:commandButton styleClass="custombtn" ajax="true"  
                                     actionListener="#{forecastGeneralMB.consultar()}" 
                                     value="#{msg['cmb_consultar']}" 
                                     update="devo, envia, observacion,botC,dtProds,estadoB"  />   
                    <h:panelGroup id="botC">
                        <p:commandButton styleClass="custombtn" ajax="true"  rendered="#{forecastGeneralMB.mostrarBotnConfirmar == true and forecastGeneralMB.mostrarBotn}"
                                     id="envia"                disabled="#{forecastGeneralMB.estadoForecast.equalsIgnoreCase('CERR') }"
                                     update="lbxMarca,lbxComp,lbxAnio,dtProds,botC,estadoB"
                                     actionListener="#{forecastGeneralMB.guardar()}" value="#{msg['cmb_confirmar_enviar']}" />  

                    <p:commandButton styleClass="custombtn" 
                                     ajax="true" 
                                     rendered="#{forecastGeneralMB.mostrarBotnConfirmar == false and forecastGeneralMB.mostrarBotn}"
                                     id="devo"                
                                     update="lbxMarca,lbxComp,lbxAnio,dtProds,botC,estadoB"
                                     disabled="#{forecastGeneralMB.estadoForecast.equalsIgnoreCase('CERR') }"
                                     actionListener="#{forecastGeneralMB.devolver}" value="#{msg['cmb_devolver']}" />   

                    </h:panelGroup>
                    <h:commandLink actionListener="#{forecastGeneralMB.exportarAExcel()}">
                        <p:graphicImage library="images" name="ico_excel2.png" width="25" title="#{msg['tit_exportar']}" />
                    </h:commandLink>
                </div>
            </div>  <!--  FIN FILA  -->
              
        <div>
            <div class="formsearch" style="width: 100%; border-bottom-width: 0px !important;">
                <p:commandButton value="Bitacora" action="#{bitacoraMB.consultarBitacora}" update="dialog" rendered="true" 
                                 oncomplete="PF('bitacoraDialog').show();" styleClass="custombtn"/>
                <br/><br/>
                <p:outputLabel value="#{msg['lbl_observacion']}" />
                <br />
                <p:inputTextarea id="observacion" rows="3" cols="35" autoResize="false" scrollHeight="10"  maxlength="500" value="#{forecastGeneralMB.observacion}" 
                                 style="resize: none">
                </p:inputTextarea>
                 </div>

                <br></br><br></br><br></br><br></br>
          
            <!--  FIN FILA  -->
            <div class="roundtablez">
                
                <p:dataTable id="dtProds" var="item" value="#{forecastGeneralMB.lazyModelCag}" paginator="true" rows="10"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             currentPageReportTemplate="{currentPage} de {totalPages}"                             
                             selectionMode="single" lazy ="true"
                             styleClass="datatabledos roundtable" 
                             emptyMessage="#{msg['lbl_no_registros']}"
                             scrollable="true" scrollWidth="100%" scrollHeight="400" 
                             style="margin-bottom:0"                            
                             resizableColumns="false" frozenColumns="1">
                    
                        <p:columnGroup type="frozenHeader">
                            <p:row> 
                                <p:column rowspan="2" headerText="Categoria" style="width:350px"/>
                            </p:row>
                        </p:columnGroup>    
                            
                    <p:columnGroup type="scrollableHeader">
                        <p:row>
                            <ui:repeat value="#{forecastGeneralMB.nombreMeses}" var="mes" >
                                <p:column colspan = "#{forecastGeneralMB.estadoSupply ? '7' : '4'}" headerText="#{mes}" 
                                          style="#{forecastGeneralMB.estadoSupply ? 'width:900px' : 'width:650px'}"/>                                    
                            </ui:repeat>
                        </p:row>
                        <p:row> 
                            <ui:repeat value="#{forecastGeneralMB.nombreMeses}" var="mes">
                                <p:column headerText="Forecast Actual"/>
                                <p:column headerText="Forecast Anterior" />
                                <p:column headerText="Forecast Actual $ (USD)" />
                                <p:column headerText="Forecast Anterior $ (USD)" />
                                <p:column headerText="Unidades Despachadas" rendered="#{forecastGeneralMB.estadoSupply}"/>
                                <p:column headerText="Total Unidades Despachadas" rendered="#{forecastGeneralMB.estadoSupply}"/>
                                <p:column headerText="Unidades Faltantes" rendered="#{forecastGeneralMB.estadoSupply}"/> 
                            </ui:repeat>
                        </p:row>
                    </p:columnGroup>    
                    
                     <p:column>
                             <h:outputText value="#{item.nombreProducto}"/>
                                 
                        </p:column>                
               <c:forEach items="#{forecastGeneralMB.nombreMeses}" var="mes">
                            <p:column>
                                <h:outputText value="#{item.informacionForecastMes[mes].forecastGerente}"/>
                                 
                            </p:column>  
                            <p:column>
                                <h:outputText value="#{item.informacionForecastMes[mes].forecastGerenteAnterior}"/>
                             
                                
                            </p:column>  
                                               
                            <p:column>
                               <h:outputText value="#{item.informacionForecastMes[mes].totalForecastGerente}">
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </h:outputText>
                            </p:column>                          
                            
                            <p:column>
                                <h:outputText value="#{item.informacionForecastMes[mes].totalForecastGerenteAnterior}">
                                     <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </h:outputText>
                            </p:column>                         

                            <p:column rendered="#{forecastGeneralMB.estadoSupply}" >
                                <h:outputText value="#{item.informacionForecastMes[mes].unidadesDespachadas}" style="#{item.informacionForecastMes[mes].unidadesFaltantes > 0 ?'color: red; font-weight: bold;' : null}"/>
                            </p:column>
                            <p:column rendered="#{forecastGeneralMB.estadoSupply}">
                                <h:outputText value="#{item.informacionForecastMes[mes].totalUnidaDespachadas}" style="#{item.informacionForecastMes[mes].unidadesFaltantes > 0 ?'color: red; font-weight: bold;' : null}">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </h:outputText>
                            </p:column>
                            <p:column rendered="#{forecastGeneralMB.estadoSupply}">
                                <h:outputText value="#{item.informacionForecastMes[mes].unidadesFaltantes}" style="#{item.informacionForecastMes[mes].unidadesFaltantes > 0 ?'color: red; font-weight: bold;' : null}"/>
                            </p:column>
           </c:forEach>   
                 </p:dataTable>                                 
            </div> <!--  FIN FILA  -->
        </div>

            <br/>
            <br/>

            <div class="formsearch" style="float: right">
            </div> <!--  FIN FILA  -->

        </div>  <!--  middle-content -->
        <script>
            function slideColumn(comp) {
                $('.ui-datatable-frozenlayout-left').css("width", comp.input.val() + "%");
            }
        </script>
    </ui:define>
</ui:composition>