<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="templates/tmpl-tres-a-1-top-menu.xhtml">

    <ui:define name="metadata">
        <f:view locale="#{languageService.language}"/>
    </ui:define>

    <ui:define name="content">
        
        <style type="text/css">
            /* Change forzen width */
            .ui-datatable-frozenlayout-left {
                width: 20%;
            }
            
           .ui-frozen-column {
             height: 64px;
            } 
            .dgProductos .ui-frozen-column {
             height: 65px;
            }
        </style>

        <p:dialog header="Bitacora" widgetVar="bitacoraDialog" resizable="false" id="dialog"
                  width="700" height="400" showEffect="explode" hideEffect="explode"  >
            <ui:include src="/bitacoraDialog.xhtml" />        
        </p:dialog>
        
        <h:panelGroup id="ProductosDialog">
            <p:dialog header="Categoria: #{forecastRetailerMB.nombreCategoria}" widgetVar="carDialog" modal="true"  showEffect="fade" hideEffect="fade"  width="95%"  style="max-height: 100%; " resizable="false" id="dialogProd" position="top">

                <p:messages autoUpdate="true" for="msgsDialog" id="msgsDialog"  showDetail="false"
                                    showSummary="true" closable="true"  />
                <p:commandButton id="btren" style="display:  none;" value="1">
                    <p:ajax event="click" update="dtProducto" ></p:ajax>
                </p:commandButton>

                <h:panelGroup id="tablaProductos" class="roundtablez" layout="block" style="height: 95%">
                    <p:dataTable id="dtProducto" var="item" value="#{forecastRetailerMB.lazyProductos}" paginator="true" rows="15"
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 lazy ="true"
                                 currentPageReportTemplate="{currentPage} de {totalPages}"                             
                                 styleClass="datatabledos roundtable dgProductos" 
                                 emptyMessage="#{msg['lbl_no_registros']}"
                                 editable="true" editMode="cell" resizableColumns="false"
                                 scrollable="true" scrollWidth="100%"
                                 style="margin-bottom:0"
                                 scrollHeight="400" frozenColumns="3" >     

                        <p:ajax event="page" oncomplete="#{forecastRetailerMB.verificarDimensionDatoMaestro()}" update="dtProducto"></p:ajax> 
                        <p:ajax event="filter" onsuccess="document.getElementById('mainForm:btren').click();" update="@none" />
                        
                        <f:facet name="header">
                            <p:selectCheckboxMenu value="#{forecastRetailerMB.selectItems}" label="Columnas" style="float: right;"  >
                                <f:selectItem itemLabel="UPC" itemValue="UPC"  />
                                <f:selectItem itemLabel="Modelo" itemValue="Modelo"  />
                                <f:selectItem itemLabel="Descripción" itemValue="Producto"   />
                                <p:ajax  listener="#{forecastRetailerMB.selecion()}" event="toggleSelect"  update="dtProducto"  ></p:ajax>
                                <p:ajax  listener="#{forecastRetailerMB.selecion()}" event="change"  update="dtProducto"  ></p:ajax>
                            </p:selectCheckboxMenu>

                        </f:facet> 

                        <p:columnGroup type="frozenHeader">
                            <p:row>
                                <p:column rowspan="2" headerText="UPC" width="120" visible="#{forecastRetailerMB.upc}" filterBy="#{item.upc}" filterMatchMode="contains" />              
                                <p:column rowspan="2" headerText="Modelo" width="120" visible="#{forecastRetailerMB.modelo}" filterBy="#{item.modelo}" filterMatchMode="contains"/> 
                                <p:column rowspan="2" headerText="Descripción" width="250" visible="#{forecastRetailerMB.descripcion}"/>
                            </p:row>    
                        </p:columnGroup>  

                        <p:columnGroup type="scrollableHeader" >
                            <p:row>
                                <ui:repeat value="#{forecastRetailerMB.nombreMeses}" var="mes" >
                                    <p:column colspan = "#{forecastRetailerMB.isMesActual(mes) ? '7' : '5'}" headerText="#{mes}"
                                              style="width:750px #{!forecastRetailerMB.tieneDatosMes(mes)?';font-weight: bold;color:red':''}"/>                                    
                                </ui:repeat> 
                            </p:row>
                            <p:row> 
                                <ui:repeat value="#{forecastRetailerMB.nombreMeses}" var="mes">
                                    <p:column headerText="Inventario WH" rendered="#{forecastRetailerMB.isMesActual(mes)}"/>
                                    <p:column headerText="Transito" rendered="#{forecastRetailerMB.isMesActual(mes)}"/>
                                    <p:column headerText="Forecast Kam" />
                                    <p:column headerText="Forecast Propuesto" />
                                    <p:column headerText="Forecast Ciclo Anterior" />                                    
                                    <p:column headerText="Total Forecast Propuesto" />
                                    <p:column headerText="Total Forecast Kam" />                                                                                      
                                </ui:repeat>
                            </p:row>
                        </p:columnGroup>

                        <p:ajax event="cellEdit" listener="#{forecastRetailerMB.onCellEdit}" />

                        <p:column visible="#{forecastRetailerMB.upc}">
                            <h:outputText value="#{item.upc}" />                       
                        </p:column>

                        <p:column visible="#{forecastRetailerMB.modelo}">
                            <h:outputText value="#{item.modelo}"  />   
                        </p:column>

                        <p:column visible="#{forecastRetailerMB.descripcion}">
                            <h:outputText value="#{item.nombreProducto}" style="#{item.estadoProducto == 'D' ? 'color: red; ' : item.estadoProducto == 'L' ? 'color: lime; '  : 'color: lightslategray; '}"/>
                        </p:column>                


                        <c:forEach items="#{forecastRetailerMB.nombreMeses}" var="mes">
                            <p:column rendered="#{forecastRetailerMB.isMesActual(mes)}" >
                                <h:outputText value="#{item.informacionForecastMes[mes].inventarioWH}"/>
                            </p:column>  

                            <p:column rendered="#{forecastRetailerMB.isMesActual(mes)}">
                                <h:outputText value="#{item.informacionForecastMes[mes].transito}"/>
                            </p:column>
                            
                            <p:column >
                                <h:outputText value="#{item.informacionForecastMes[mes].forecast}"  rendered="#{item.esProdcuto and forecastRetailerMB.inactivarEdit}"/>

                                <p:cellEditor rendered="#{item.esProdcuto and forecastRetailerMB.tieneDatosMes(mes) and forecastRetailerMB.inactivarEdit==false}">                                    

                                    <f:facet name="output">
                                        <h:outputText value="#{item.informacionForecastMes[mes].forecast}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <h:inputText value="#{item.informacionForecastMes[mes].forecast}" validatorMessage="El valor ingresado no puede ser nulo o inferior a 0">
                                            <f:validateLongRange minimum="0"  />
                                            <f:validateRequired/>
                                        </h:inputText>
                                    </f:facet>
                                </p:cellEditor>                                
                            </p:column> 

                            <p:column >
                                <h:outputText value="#{item.informacionForecastMes[mes].sellInPropuesto}"/>
                            </p:column>   

                            <p:column >
                                <h:outputText value="#{item.informacionForecastMes[mes].totalForecastGerenteAnterior}"/>
                            </p:column>  
                             
                            <p:column >
                                <h:outputText value="#{item.informacionForecastMes[mes].totalPropuesto}">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </h:outputText>
                            </p:column>  
                            <p:column >
                                <h:outputText value="#{item.informacionForecastMes[mes].totalForecastKam}">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </h:outputText>
                            </p:column>  

                        </c:forEach> 
                    </p:dataTable>
                </h:panelGroup>
            </p:dialog>
        </h:panelGroup>


        <div class="font-cero font-color-white title-content">
            <h:outputText value="#{msg['titulo_forecast_retailer']}" />
        </div>


        <div class="middle-content">

            <div class="formsearch" style="width: 100%; border-bottom-width: 0px !important;">

                <div id="d1" style="width: 200px; float: left">
                    <p:outputLabel for="lbxMarca" value="#{msg['lbl_marca']}" />
                    <br />
                    <p:selectCheckboxMenu id="lbxMarca" value="#{forecastRetailerMB.selectedMarca}" style="width:180px;" filter="true" filterMatchMode="contains"
                                          required="true" requiredMessage="#{msg['req_marca']}" label="#{msg['cbo_favor_seleccione']}" >
                        <f:selectItems value="#{forecastRetailerMB.grupoMarcasMap.entrySet()}" var="item" itemLabel="#{item.value.id} - #{item.value.nombre}" itemValue="#{item.key}" />
                    </p:selectCheckboxMenu>
                </div> 

                <div style="width: 200px; float: left">
                    <p:outputLabel  value="#{msg['lbl_compania']}" />
                    <br />
                    <p:selectOneMenu id="lbxComp" style="width:170px;" filter="true" filterMatchMode="contains"
                                     value="#{forecastRetailerMB.companiaSeleccionadaIde}"  disabled="#{forecastRetailerMB.unicaCompania}">

                        <f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}" itemValue="" />
                        <f:selectItems value="#{forecastRetailerMB.companiasMap.entrySet()}" var="item" 
                                       itemLabel="#{item.value.id} - #{item.value.nombre}" itemValue="#{item.key}" />
                        <p:ajax update="lbxRetailer" listener="#{forecastRetailerMB.cargaListaRetailers()}" event="change"/>
                    </p:selectOneMenu>                             
                </div> 


                <div style="width: 200px; float: left">
                    <p:outputLabel  value="#{msg['lbl_retailer']}" />
                    <br />
                    <p:selectCheckboxMenu id="lbxRetailer" dynamic="true" value="#{forecastRetailerMB.selectedRetailer}" style="width:180px;"
                                          filter="true" filterMatchMode="contains" label="#{msg['cbo_favor_seleccione']}" >
                        <f:selectItems value="#{forecastRetailerMB.retailersMap.entrySet()}" var="item" 
                                       itemLabel="#{item.value.id} - #{item.value.nombreComercial}" itemValue="#{item.key}" />
                    </p:selectCheckboxMenu>                            
                </div> 

                <div style="width: 200px; float: left">
                    <p:outputLabel  value="#{msg['lbl_mes_anio']}" />
                    <br />
                    <p:selectOneMenu id="lbxAnio" filter="true" filterMatchMode="contains" style="width:170px;"
                                     value="#{forecastRetailerMB.mesSeleccionadoIde}">

                        <f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}" itemValue="" />
                        <f:selectItems value="#{forecastRetailerMB.mesesMap.entrySet()}" var="item" itemLabel="#{item.value.anio}-#{item.value.nombre}" itemValue="#{item.key}" />

                    </p:selectOneMenu>                             
                </div> 

                <h:panelGroup id="estadoB" style="width: 150px; float: left">                    
                    <p:outputLabel id="olblEstado" value="Estado Forecast" rendered="#{forecastRetailerMB.estadoForecast != null}" />
                    <br />
                    <p:inputText id="lblEstado" value="#{forecastRetailerMB.estadoForecast}" disabled="true" readonly="true" 
                                 rendered="#{forecastRetailerMB.estadoForecast.length() >0}" ></p:inputText>                          
                </h:panelGroup>


                <div style="width: 350px; float: right">
                    <p:commandButton styleClass="custombtn" ajax="true" update="dtProds, estadoB, guarda, envia, observacion, botones, botones2"  

                                     actionListener="#{forecastRetailerMB.consultar()}" value="#{msg['cmb_consultar']}"
                                     />   

                    <h:panelGroup id="botones" >

                        <p:commandButton styleClass="custombtn" ajax="true" disabled="#{forecastRetailerMB.estadoForecast.equalsIgnoreCase('CERR') }"
                                         id="guarda" 
                                         actionListener="#{forecastRetailerMB.guardarParcial()}" 
                                         value="#{msg['cmb_guardar']}" 
                                         update="envia,dtProds,botones,estadoB"
                                         rendered="#{forecastRetailerMB.mostrarBotones==true}"/> 
                        <p:commandButton 
                            styleClass="custombtn" 
                            ajax="true" 
                            disabled="#{forecastRetailerMB.estadoForecast.equalsIgnoreCase('CERR')}"
                            id="envia"             
                            actionListener="#{forecastRetailerMB.guardarEnviar()}" 
                            value="#{msg['cmb_confirmar_enviar']}"
                            update="dtProds,botones,botones2,estadoB"
                            rendered="#{forecastRetailerMB.mostrarBotones==true}"/>  
                    </h:panelGroup>

                    <p:spacer width="10"/>
                    <h:commandLink actionListener="#{forecastRetailerMB.exportarAExcel()}">
                        <p:graphicImage library="images" name="ico_excel2.png" width="25" title="#{msg['tit_exportar']}" />
                    </h:commandLink>

                </div>
            </div>  <!--  FIN FILA  -->

            <div>
                <div class="formsearch" style="width: 100%; border-bottom-width: 0px !important;">
                    <p:commandButton value="Bitacora" action="#{bitacoraMB.consultarBitacora}" update="dialog"  rendered="true" 
                                     oncomplete="PF('bitacoraDialog').show();" styleClass="custombtn"/>
                    <h:panelGroup id="botones2" >
                        <p:commandButton styleClass="custombtn" ajax="true" disabled="#{forecastRetailerMB.estadoForecast.equalsIgnoreCase('CERR') }"
                                         id="actualiza" 
                                         value="#{msg['cmb_actualiza']}" 
                                         update="dtProds"
                                         rendered="#{forecastRetailerMB.mostrarBotones==true}"/> 
                    </h:panelGroup>

                    <br/><br/>
                    <p:outputLabel value="#{msg['lbl_observacion']}" />
                    <br />
                    <p:inputTextarea id="observacion" rows="3" cols="35" autoResize="false" scrollHeight="10"  maxlength="500" value="#{forecastRetailerMB.observacion}" 
                                     style="resize: none">
                    </p:inputTextarea>
                </div>

                <br></br><br></br><br></br><br></br>


                <div class="roundtablez">
                    <p:dataTable id="dtProds" var="item" value="#{forecastRetailerMB.lazyModelCag}" paginator="true" rows="10"
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 lazy ="true"
                                 currentPageReportTemplate="{currentPage} de {totalPages}"                             
                                 styleClass="datatabledos roundtable" 
                                 emptyMessage="#{msg['lbl_no_registros']}"
                                 editable="true" editMode="cell" resizableColumns="false"
                                 scrollable="true" scrollWidth="100%" scrollHeight="400" 
                                 style="margin-bottom:0" frozenColumns="2">       
                        
                        <p:columnGroup type="frozenHeader">
                            <p:row>
                                <p:column rowspan="2" headerText="" style="width:30px" /> 
                                <p:column  headerText="Categoria" style="width:350px;" />
                            </p:row>    
                        </p:columnGroup>

                        <p:columnGroup type="scrollableHeader">
                            <p:row>
                                 <ui:repeat value="#{forecastRetailerMB.nombreMeses}" var="mes" >
                                    <p:column colspan = "#{forecastRetailerMB.isMesActual(mes) ? '7' : '5'}" headerText="#{mes}" 
                                              style="width:750px #{!forecastRetailerMB.tieneDatosMes(mes)?';font-weight: bold;color:red':''}"/>                                    
                                </ui:repeat>
                                
                            </p:row>
                            <p:row> 
                                <ui:repeat value="#{forecastRetailerMB.nombreMeses}" var="mes">
                                    <p:column headerText="Inventario WH" rendered="#{forecastRetailerMB.isMesActual(mes)}"/>
                                    <p:column headerText="Transito" rendered="#{forecastRetailerMB.isMesActual(mes)}"/>
                                    <p:column headerText="Forecast Kam" />
                                    <p:column headerText="Forecast Propuesto"/>
                                    <p:column headerText="Forecast Ciclo Anterior"/>                                    
                                    <p:column headerText="Total Forecast Propuesto" />
                                    <p:column headerText="Total Forecast Kam" />                                                                                      
                                </ui:repeat>
                            </p:row>
                        </p:columnGroup>
                     
                        <p:column  style="width:32px" exportable="false">
                            <p:commandButton actionListener="#{forecastRetailerMB.cargarDialogo(item)}" icon="ui-icon-search" title="Visualizar" update=":mainForm:tablaProductos, :mainForm:ProductosDialog" rendered="#{item.esTotalMarca==false}" />
                        </p:column>
                        
                        <p:column>
                            <h:outputText value="#{item.nombreProducto}" style="font-weight: bold;"/>
                        </p:column>    
                        
                        <c:forEach items="#{forecastRetailerMB.nombreMeses}" var="mes">
                            <p:column rendered="#{forecastRetailerMB.isMesActual(mes)}">
                                <h:outputText value="#{item.informacionForecastMes[mes].inventarioWH}"/>
                            </p:column>
                            
                            <p:column rendered="#{forecastRetailerMB.isMesActual(mes)}">
                                <h:outputText value="#{item.informacionForecastMes[mes].transito}"/>
                            </p:column> 
                            
                             <p:column>
                                <h:outputText value="#{item.informacionForecastMes[mes].forecast}" style="font-weight: bold;"/>
                            </p:column> 
                         
                            <p:column>
                                <h:outputText value="#{item.informacionForecastMes[mes].sellInPropuesto}"/>
                            </p:column>   

                            <p:column>
                                <h:outputText value="#{item.informacionForecastMes[mes].totalForecastGerenteAnterior}"/>
                            </p:column> 
                            
                            <p:column>
                                <h:outputText value="#{item.informacionForecastMes[mes].totalPropuesto}">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </h:outputText>
                            </p:column>  
                            <p:column>
                                <h:outputText value="#{item.informacionForecastMes[mes].totalForecastKam}">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </h:outputText>
                            </p:column>  

                        </c:forEach> 
                        
                    </p:dataTable>
                </div> <!--  FIN FILA  -->
            </div>

            <br/>
            <br/>
            <div class="formsearch" style="float: right">
            </div> <!--  FIN FILA  -->
        </div>  <!--  middle-content -->
        
        <script>
            function slideColumn(comp) {
                $('.ui-datatable-frozenlayout-left').css("width", comp.input.val() + "%");
            }
        </script>
    </ui:define>
</ui:composition>