<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/tmpl-tres-a-1-top-menu.xhtml">

    <ui:define name="metadata">
    </ui:define>
    <ui:define name="content">
        <div class="font-cero font-color-white title-content">
            <h:outputText value="#{msg['lbl_titleAppGraficarVariacionSellout']}" />
        </div>
        <div class="middle-content">

            <div class="formsearch" style="width: 100%; border-bottom-width: 0px !important;">
                <div id="d1" style="width: 200px; float: left">
                    <p:outputLabel for="lbxMarca" value="#{msg['lbl_marca']}" />
                    <br />
                    <p:selectOneMenu id="lbxMarca" style="width:170px;" filter="true" filterMatchMode="contains"
                                     value="#{reportesMB.marcaSeleccionadaIde}">

                        <f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}" itemValue="" />
                        <f:selectItems value="#{reportesMB.marcasMap.entrySet()}" var="item" 
                                       itemLabel="#{item.value.id} - #{item.value.nombre}" itemValue="#{item.key}" />

                    </p:selectOneMenu>                             
                </div> 
                <div style="width: 200px; float: left">
                    <p:outputLabel for="consoleaw" value="#{msg['lbl_company']}" />
                    <br />
                    <p:selectOneMenu id="consoleaw" 
                                     required="true" requiredMessage="#{msg['lbl_required']}"
                                     value="#{reportesMB.idCompania}" style="width:170px;"
                                     filter="true" filterMatchMode="contains">

                        <f:selectItem itemLabel="#{msg['cbo_selectOne']}" itemValue="" />
                        <f:selectItems value="#{reportesMB.listaCompania}"
                                       var="compan" 
                                       itemLabel="#{compan.id} - #{compan.nombre}"
                                       itemValue="#{compan.id}" />
                    </p:selectOneMenu>         
                </div>


                <div style="width: 200px; float: left">
                    <p:outputLabel value="#{msg['lbl_categoria']}" />
                    <br />
                    <p:selectOneMenu id="lbxMes" style="width:170px;"
                                     value="#{reportesMB.categoriaId}"
                                     filter="true" filterMatchMode="contains">
                        <f:selectItem itemLabel="#{msg['cbo_selectOne']}" itemValue="" />
                        <f:selectItems value="#{reportesMB.listaCategorias}" var="item" 
                                       itemLabel="#{item.id} - #{item.nombre}" itemValue="#{item.id}" />
                    </p:selectOneMenu>                             
                </div> 

                <div style="width: 200px; float: right; padding-top: 17px;">
                    <p:commandButton value="#{msg['cmb_generar']}" icon="ui-icon-search"  process="@form" ajax="false"
                                     styleClass="custombtn" onclick="target='_blank'"
                                     action="#{reportesMB.generaReporteGraficarVariacion}" ></p:commandButton>
                </div>
            </div>
            <div class="formsearch"
                 style="width: 100%; margin-top: 10px; height: 10px;"></div>
        </div>
    </ui:define>
</ui:composition>