<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="templates/tmpl-tres-a-1-login.xhtml">

	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
		<div class="font-cero font-color-white title-content"
			style="background-color: #000000;">
			<h:outputText value="#{msg['lbl_welcome']}" />
		</div>

		<p align="center">
		<div class="middle-content"
			style="text-align: center; border: white; float: right; margin-right: 100px">

			<BR /> <BR /> <BR /> <BR />
			<h:outputText value="#{msg['lbl_msgaccess']}"
				style="text-align:center; float:left; margin-left: 70px;" />
			<BR /> <BR />
			<h:panelGrid columns="2" cellpadding="5"
				style=" text-align:center;float:right;margin-left:95px; margin-right:85px;">
				<p:outputLabel for="username" value="#{msg['lbl_user']}" />
				<p:inputText id="username" value="#{loginMB.user}"></p:inputText>

				<p:outputLabel for="password" value="#{msg['lbl_password']}" />
				<p:password id="password" value="#{loginMB.clave}" required="true"
					requiredMessage="#{msg['lbl_required']}" />

				<p:outputLabel for="dominio" value="Dominio" />
				<p:selectOneMenu id="dominio" value="#{loginMB.idDominioSelec}"
					required="true" requiredMessage="#{msg['lbl_required']}">
					<f:selectItems value="#{loginMB.listDominio}" var="item"
						itemLabel=" #{item.ldapDomain}" itemValue="#{item.id}" />
				</p:selectOneMenu>
				<br />
				<br />
				<h:outputText value="" />
				<p:commandButton value="#{msg['lbl_access']}" style="float:left;"
					styleClass="custombtn" action="#{loginMB.validarUsuario()}">
				</p:commandButton>

			</h:panelGrid>

		</div>
		</p>
		<div>
			<table>
				<tr>
					<td><h:graphicImage library="images" name="estapas-sop.png"
							style="float:left; max-width:100%; height: auto;" /></td>
					<td>
						<p>
							<h:graphicImage library="images" name="pantalla-principal.gif"
								style="float:right; text-align:center; max-width:100%; height: auto; " />
						</p>
					</td>
				</tr>
			</table>
		</div>
	</ui:define>
</ui:composition>