<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="templates/tmpl-tres-a-1-top-menu.xhtml">
   <f:view locale="#{languageService.language}"/>
    <ui:define name="metadata">
    </ui:define>

    <ui:define name="content">
        <div class="font-cero font-color-white title-content">
            <h:outputText value="#{msg['lbl_titleMenu']}" />
        </div>
        <div class="middle-content">
            <div class="roundtablez">
               
            </div>
            <div class="formsearch"
                 style="width: 100%; margin-top: 10px; height: 10px;"></div>
        </div>
        
    </ui:define>
</ui:composition>