<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="templates/tmpl-tres-a-1-top-menu.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">
		<div class="font-cero font-color-white title-content">
			<h:outputText value="#{msg['titulo_automatizacion_procesos']}" />
		</div>
		<br />
		<!--  INICIO PARAMETROS  -->
		<div class="middle-content">
			<div class="formsearch"
				style="width: 100%; border-bottom-width: 0px !important;">
				<h4>Filtros</h4>
				<div style="width: 200px; float: left; margin: 10px;">
					<p:outputLabel for="lbxMarca" value="#{msg['lbl_grupo_marca']}" />
					<br />
					<p:selectCheckboxMenu value="#{scheduledProcessesMB.selectMarcas}"
						style="width:180px;" filter="true" filterMatchMode="contains"
						requiredMessage="#{msg['req_grupo_marca']}"
						label="#{msg['cbo_favor_seleccione']}">
						<f:selectItems
							value="#{scheduledProcessesMB.grupoMarcasMap.entrySet()}"
							var="item" itemLabel="#{item.value.id} - #{item.value.nombre}"
							itemValue="#{item.key}" />
					</p:selectCheckboxMenu>
				</div>
				<div style="width: 200px; float: left; margin: 10px;">
					<p:outputLabel value="#{msg['lbl_compania']}" />
					<br />
					<p:selectOneMenu style="width:170px;" filter="true"
						filterMatchMode="contains"
						value="#{scheduledProcessesMB.selectCompanias}"
						requiredMessage="#{msg['req_compania']}">
						<f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}"
							itemValue="" />
						<f:selectItems
							value="#{scheduledProcessesMB.companiasMap.entrySet()}"
							var="item" itemLabel="#{item.value.id} - #{item.value.nombre}"
							itemValue="#{item.key}" />
						<p:ajax update="lbxUsuario"
							listener="#{scheduledProcessesMB.cargaListaUsuario()}"
							event="change" />
					</p:selectOneMenu>
				</div>
				<div style="width: 200px; float: left; margin: 10px;">
					<p:outputLabel value="Usuario" />
					<br />
					<p:selectCheckboxMenu id="lbxUsuario" dynamic="true"
						value="#{scheduledProcessesMB.selectUsuario}" style="width:180px;"
						filter="true" filterMatchMode="contains"
						label="#{msg['cbo_favor_seleccione']}"
						requiredMessage="#{msg['req_retailer']}">
						<f:selectItems value="#{scheduledProcessesMB.listUsuario}"
							var="item" itemLabel="#{item}" itemValue="#{item}" />
					</p:selectCheckboxMenu>
				</div>
				<div style="width: 200px; float: left; margin: 10px;">
					<p:outputLabel for="datetimeF" value="Fecha de Ejecución"
						requiredMessage="#{msg['req_tarea']}" />
					<br />
					<p:calendar id="datetimeF"
						value="#{scheduledProcessesMB.selectFechaCreacion}"
						pattern="MM/dd/yyyy" />
				</div>
				<div style="width: 200px; float: left; margin: 10px;">
					<p:commandButton styleClass="custombtn" ajax="true"
						actionListener="#{scheduledProcessesMB.consultar}"
						update=":mainForm:tablaPanel,:mainForm:manage-proceso-content"
						value="Consultar" />
				</div>
			</div>
			<br />

		</div>
		<br />
		<p:growl id="msgsRow" showDetail="true" />
		<div style="width: 95%; margin-left: auto; margin-right: auto;">
			<h:panelGroup id="tablaPanel" class="roundtablez" layout="block">
				<p:toolbar>
					<p:toolbarGroup>
						<p:commandButton value="Agregar Proceso"
							icon="ui-icon-circle-plus"
							actionListener="#{scheduledProcessesMB.nuevoProceso}"
							oncomplete="PF('manageProcesoDialog').show()"
							update="manage-proceso-content" styleClass="ui-button-success"
							style="margin-right: .5rem">
							<p:resetInput target=" manage-proceso-content" />
						</p:commandButton>
					</p:toolbarGroup>
				</p:toolbar>
				<!-- INICIO TABLA -->
				<p:dataTable id="dtProds" var="item"
					value="#{scheduledProcessesMB.listProcesos}" reflow="true"
					styleClass="datatabledos roundtable" paginator="true" rows="15"
					rowSelectMode="add" paginatorPosition="bottom"
					emptyMessage="#{msg['lbl_no_registros']}">

					<f:facet name="header">
						<div class="products-table-header">
							<span style="font-weight: bold">Procesos Programados</span>
						</div>
					</f:facet>
					<p:column headerText="Usuario" sortBy="#{item.usuario}"
						style="width:100px;">
						<h:outputText value="#{item.usuario}" />
					</p:column>
					<p:column headerText="Codigo" sortBy="#{item.code}"
						style="width:100px;">
						<h:outputText value="#{item.code}" />
					</p:column>
					<p:column headerText="Fecha de Ejecución"
						sortBy="#{item.fechaEjecucion}" style="width:180px;">
						<h:outputText value="#{item.fechaEjecucion}" />
					</p:column>
					<p:column headerText="Estado" sortBy="#{item.proceso.toString()}">
						<h:outputText value="#{item.proceso.toString()}" />
					</p:column>
					<p:column headerText="Compañia" sortBy="#{item.companias}"
						style="width:200px;">
						<h:outputText
							value="#{scheduledProcessesMB.getCompania(item.companias)}" />
					</p:column>
					<p:column headerText="Grupo Marcas" style="width:170px;">
						<h:outputText
							value="#{scheduledProcessesMB.getMarcas(item.listMarcas)}" />
					</p:column>
					<p:column headerText="Retailers">
						<h:outputText value="#{item.listRetailer}" />
					</p:column>
					<p:column headerText="Mes" sortBy="#{item.mes}"
						style="width:100px;">
						<h:outputText value="#{scheduledProcessesMB.getMes(item.mes)}" />
					</p:column>
					<p:column style="width:50px;">
						<p:commandButton icon="ui-icon-pencil"
							update=":mainForm:manage-proceso-content"
							oncomplete="PF('manageProcesoDialog').show()"
							styleClass="edit-button rounded-button ui-button-success"
							process="@this">
							<f:setPropertyActionListener value="#{item}"
								target="#{scheduledProcessesMB.procesoActual}" />
							<p:resetInput target=":mainForm:manage-proceso-content" />
						</p:commandButton>
						<p:commandButton class="ui-button-warning rounded-button"
							icon="ui-icon-circle-close" process="@this"
							oncomplete="PF('deleteProcesoDialog').show()">
							<f:setPropertyActionListener value="#{item}"
								target="#{scheduledProcessesMB.procesoActual}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
				<!-- FIN TABLA -->
				<p:confirmDialog widgetVar="deleteProcesoDialog" showEffect="fade"
					width="300" message="Desea cancelar el proceso programado?"
					header="Cancelación">
					<p:commandButton value="Si"
						actionListener="#{scheduledProcessesMB.cancelarProceso}"
						update="tablaPanel" process="@this"
						oncomplete="PF('deleteProcesoDialog').hide()" />
					<p:commandButton value="No" type="button"
						styleClass="ui-button-secondary"
						onclick="PF('deleteProcesoDialog').hide()" />
				</p:confirmDialog>
				<p:dialog header="Detalle Proceso" modal="true"
					widgetVar="manageProcesoDialog" responsive="true"
					showEffect="explode" hideEffect="explode">
					<ui:include src="/EditProcess.xhtml" />
				</p:dialog>
			</h:panelGroup>
		</div>
		<script>
			function slideColumn(comp) {
				$('.ui-datatable-frozenlayout-left').css("width",
						comp.input.val() + "%");
			}
		</script>
	</ui:define>
</ui:composition>