<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="templates/tmpl-tres-a-1-top-menu.xhtml">

	<ui:define name="metadata">

	</ui:define>

	<ui:define name="content">
		<style type="text/css">
/* Change forzen width */
.ui-datatable-frozenlayout-left {
	width: 20%;
}

.ui-frozen-column {
	height: 64px;
}

.dgProductos .ui-frozen-column {
	height: 65px;
}
</style>

		<p:dialog header="Bitacora" widgetVar="bitacoraDialog"
			resizable="false" id="dialog" width="700" height="400"
			showEffect="explode" hideEffect="explode">
			<ui:include src="/bitacoraDialog.xhtml" />
		</p:dialog>

		<h:panelGroup id="ProductosDialog">
			<p:dialog header="Categoria: #{semanasRequeridasMB.nomCategoria}"
				widgetVar="carDialog" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" width="95%" id="dialogProd"
				position="top">
				<h:panelGroup id="tablaProductos" class="roundtablez" layout="block"
					style="height: 95%">
					<p:commandButton id="btren" style="display:  none;" value="1">
						<p:ajax event="click" update="dtProductos"></p:ajax>
					</p:commandButton>
					<p:dataTable id="dtProductos" var="prod"
						value="#{semanasRequeridasMB.lazyProducto}" paginator="true"
						rows="20"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						currentPageReportTemplate="{currentPage} de {totalPages}"
						lazy="true" styleClass="datatabledos roundtable dgProductos"
						scrollable="true" scrollWidth="100%" scrollHeight="400"
						emptyMessage="#{msg['lbl_no_registros']}" editable="true"
						editMode="cell" resizableColumns="false" style="margin-bottom:0"
						frozenColumns="3">

						<p:ajax event="page" oncomplete="renderizaPage();"
							update="dtProductos"></p:ajax>
						<f:facet name="header">
							<p:selectCheckboxMenu value="#{semanasRequeridasMB.selectItems}"
								label="Columnas" style="float: right;">
								<f:selectItem itemLabel="UPC" itemValue="UPC" />
								<f:selectItem itemLabel="Modelo" itemValue="Modelo" />
								<f:selectItem itemLabel="Descripción" itemValue="Producto" />
								<p:ajax listener="#{semanasRequeridasMB.selecion()}"
									event="toggleSelect" update="dtProductos"></p:ajax>
								<p:ajax listener="#{semanasRequeridasMB.selecion()}"
									event="change" update="dtProductos"></p:ajax>
							</p:selectCheckboxMenu>
						</f:facet>

						<p:ajax event="cellEdit"
							listener="#{semanasRequeridasMB.onCellEditProducto}" update=":mainForm:tablaPanel" />
						<p:ajax event="filter"
							onsuccess="document.getElementById('mainForm:btren').click();"
							update="@none" />

						<p:columnGroup type="frozenHeader">
							<p:row>
								<p:column rowspan="2" headerText="UPC" width="140"
									visible="#{semanasRequeridasMB.upc}" filterBy="#{prod.upc}"
									filterMatchMode="contains" />
								<p:column rowspan="2" headerText="Modelo" width="120"
									visible="#{semanasRequeridasMB.modelo}"
									filterBy="#{prod.modelo}" filterMatchMode="contains" />
								<p:column rowspan="2" headerText="Descripción" width="250"
									visible="#{semanasRequeridasMB.descripcion}" />
							</p:row>
						</p:columnGroup>

						<p:columnGroup type="scrollableHeader">
							<p:row>
								<ui:repeat value="#{semanasRequeridasMB.mesesTabla}" var="mes">
									<p:column colspan="5" headerText="#{mes}" width="300"
										resizable="false" />
								</ui:repeat>
							</p:row>
							<p:row>
								<ui:repeat value="#{semanasRequeridasMB.mesesTabla}" var="mes">

									<p:column headerText="Inv. Inicial" />
									<p:column headerText="SellOut" />
									<p:column headerText="Sem. Reales" />
									<p:column headerText="Sem. Req." />
									<p:column headerText="SellIn" />
								</ui:repeat>
							</p:row>
						</p:columnGroup>

						<p:column visible="#{semanasRequeridasMB.upc}">

							<h:outputText value="#{prod.upc}" />
						</p:column>

						<p:column visible="#{semanasRequeridasMB.modelo}">
							<h:outputText value="#{prod.modelo}" />
						</p:column>

						<p:column visible="#{semanasRequeridasMB.descripcion}">
							<h:outputText value="#{prod.categoriaProducto}"
								rendered="#{prod.esProducto}"
								style="#{semanasRequeridasMB.color(prod.upc)}" />
						</p:column>


						<c:forEach items="#{semanasRequeridasMB.mesesTabla}" var="mes">
							<p:column>
								<h:outputText
									value="#{prod.informacionSemanasMes[mes].inventarioInicial}">
									<f:convertNumber maxFractionDigits="0" />
								</h:outputText>
							</p:column>

							<p:column>
								<h:outputText value="#{prod.informacionSemanasMes[mes].sellOut}">
									<f:convertNumber maxFractionDigits="0" />
								</h:outputText>
							</p:column>

							<p:column>
								<h:outputText
									value="#{prod.informacionSemanasMes[mes].semanasReales}" />
							</p:column>

							<p:column>
								<h:outputText
									value="#{prod.informacionSemanasMes[mes].semanasRequeridas}" />
							</p:column>

							<p:column style="border-right-width: 3px;">
								<h:outputText value="#{prod.informacionSemanasMes[mes].sellIn}"
									rendered="#{prod.informacionSemanasMes[mes].esActual == false}">
									<f:convertNumber maxFractionDigits="0" />
								</h:outputText>

								<p:cellEditor id="sellinMesUno"
									rendered="#{prod.informacionSemanasMes[mes].esActual}">
									<f:facet name="output">
										<h:outputText
											value="#{prod.informacionSemanasMes[mes].sellIn}">
											<f:convertNumber maxFractionDigits="0" />
										</h:outputText>
									</f:facet>
									<f:facet name="input">
										<h:inputText value="#{prod.informacionSemanasMes[mes].sellIn}"
											validatorMessage="El valor ingresado no puede ser inferior a : 0">
											<f:validateLongRange minimum="0" />
										</h:inputText>
									</f:facet>
								</p:cellEditor>
							</p:column>
						</c:forEach>
					</p:dataTable>
				</h:panelGroup>
			</p:dialog>
		</h:panelGroup>

		<div class="font-cero font-color-white title-content">
			<h:outputText value="#{msg['titulo_demand_semanas']}" />
		</div>


		<div class="middle-content">
			<div class="formsearch"
				style="width: 100%; border-bottom-width: 0px !important;">
				<div style="width: 200px; float: left">
					<p:outputLabel value="#{msg['lbl_marca']}" />
					<br />
					<p:selectCheckboxMenu id="lbxMarca"
						value="#{semanasRequeridasMB.grupoMarcaSeleccionadaIde}"
						style="width:170px;" filter="true" required="true"
						requiredMessage="#{msg['req_marca']}" filterMatchMode="contains"
						label="#{msg['cbo_favor_seleccione']}">
						<f:selectItems
							value="#{semanasRequeridasMB.grupoMarcasMap.entrySet()}"
							var="item" itemLabel="#{item.value.id} - #{item.value.nombre}"
							itemValue="#{item.key}" />
					</p:selectCheckboxMenu>
				</div>
				<div style="width: 200px; float: left">
					<p:outputLabel value="#{msg['lbl_compania']}" />
					<br />
					<p:selectOneMenu id="lbxComp"
						value="#{semanasRequeridasMB.companiaSeleccionadaIde}"
						filter="true" filterMatchMode="contains" required="true"
						requiredMessage="#{msg['req_compania']}" style="width:170px;"
						disabled="#{semanasRequeridasMB.unicaCompania}">
						<f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}"
							itemValue="" />
						<f:selectItems
							value="#{semanasRequeridasMB.companiasMap.entrySet()}" var="item"
							itemLabel="#{item.value.id} - #{item.value.nombre}"
							itemValue="#{item.key}" />
						<p:ajax update="lbxRetailer"
							listener="#{semanasRequeridasMB.cargaListaRetailers()}"
							event="change" />
					</p:selectOneMenu>
				</div>
				<div style="width: 200px; float: left">
					<p:outputLabel value="#{msg['lbl_retailer']}" />
					<br />
					<p:selectCheckboxMenu id="lbxRetailer" dynamic="true"
						value="#{semanasRequeridasMB.retailerSeleccionadoIde}"
						style="width:180px;" required="true" filter="true"
						filterMatchMode="contains" label="#{msg['cbo_favor_seleccione']}">
						<f:selectItems
							value="#{semanasRequeridasMB.retailersMap.entrySet()}" var="item"
							itemLabel="#{item.value.id} - #{item.value.nombreComercial}"
							itemValue="#{item.key}" />
					</p:selectCheckboxMenu>
				</div>
				<div style="width: 200px; float: left">
					<p:outputLabel value="#{msg['lbl_mes_anio']}" />
					<br />
					<p:selectOneMenu id="lbxMesanio" filter="true"
						value="#{semanasRequeridasMB.mesSeleccionado}" required="true"
						requiredMessage="#{msg['req_mes']}">
						<f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}"
							itemValue="" />
						<f:selectItems value="#{semanasRequeridasMB.mesesMap.entrySet()}"
							var="item" itemLabel="#{item.value.anio}-#{item.value.nombre}"
							itemValue="#{item.key}" />
					</p:selectOneMenu>
				</div>
				<div style="width: 280px; float: right">
					<br />
					<p:commandButton styleClass="custombtn" ajax="true"
						update="lbxMarca,lbxComp,lbxRetailer,lbxMesanio,dtProds,observacion,botonE,botonG, botonAct"
						actionListener="#{semanasRequeridasMB.consultarSemanasRequeridas()}"
						value="#{msg['cmb_consultar']}" />
					<h:panelGroup id="botonE">
						<p:commandButton styleClass="custombtn" ajax="true"
							update="lbxMarca,lbxComp,lbxRetailer,lbxMesanio,dtProds,botonG,botonAct"
							actionListener="#{semanasRequeridasMB.recalcularSemanasRequeridas()}"
							value="#{msg['cmb_actualizar']}"
							rendered="#{semanasRequeridasMB.mostrarBotnConfirmar==true}" />
						<h:panelGroup id="botonG">
							<p:commandButton styleClass="custombtn" ajax="true"
								update="dtProds,botonE"
								actionListener="#{semanasRequeridasMB.guardarSemanasRequeridas()}"
								value="#{msg['cmb_guardar_enviar']}"
								rendered="#{semanasRequeridasMB.mostrarBotnConfirmar==true and semanasRequeridasMB.mostrarBotn==true}" />
						</h:panelGroup>
					</h:panelGroup>
				</div>
			</div>

			<div>
				<div class="formsearch"
					style="width: 100%; border-bottom-width: 0px !important;">
					<p:commandButton value="Bitacora"
						action="#{bitacoraMB.consultarBitacora}" update="dialog"
						rendered="true" oncomplete="PF('bitacoraDialog').show();"
						styleClass="custombtn" />
					<h:panelGroup id="botonAct">
						<p:commandButton styleClass="custombtn"
							actionListener="#{semanasRequeridasMB.actualizarGrid()}"
							ajax="true" update="dtProds" value="#{msg['cmb_actualiza']}"
							rendered="#{semanasRequeridasMB.mostrarBotnConfirmar==true and semanasRequeridasMB.mostrarBotn==true}" />
					</h:panelGroup>

					<br /> <br />
					<p:outputLabel value="#{msg['lbl_observacion']}" />
					<br />
					<p:inputTextarea id="observacion" rows="3" cols="35"
						autoResize="false" scrollHeight="10" maxlength="500"
						value="#{semanasRequeridasMB.observacion}" style="resize: none">
					</p:inputTextarea>
				</div>

				<br></br> <br></br> <br></br> <br></br>

				<!--  FIN FILA  -->

				<p:growl id="msgsRow" showDetail="true" />
				<h:panelGroup id="tablaPanel" class="roundtablez" layout="block">
					<p:dataTable id="dtProds" var="item"
						value="#{semanasRequeridasMB.lazyCategoria}" paginator="true"
						rows="10"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						currentPageReportTemplate="{currentPage} de {totalPages}"
						selectionMode="single" lazy="true"
						styleClass="datatabledos roundtable" scrollable="true"
						scrollWidth="100%" scrollHeight="400"
						emptyMessage="#{msg['lbl_no_registros']}" editable="true"
						editMode="cell" resizableColumns="false" style="margin-bottom:0"
						frozenColumns="2">

						<p:ajax event="cellEdit"
							listener="#{semanasRequeridasMB.onCellEditCategoria}" />

						<p:columnGroup type="frozenHeader">
							<p:row>
								<p:column headerText="" style="width:32px;" />
								<p:column headerText="Categoria" style="width:350px;" />
							</p:row>
						</p:columnGroup>

						<p:columnGroup type="scrollableHeader">
							<p:row>
								<ui:repeat value="#{semanasRequeridasMB.mesesTabla}" var="mes">
									<p:column colspan="5" headerText="#{mes}" style="width:400px" />
								</ui:repeat>
							</p:row>
							<p:row>
								<ui:repeat value="#{semanasRequeridasMB.mesesTabla}" var="mes">
									<p:column headerText="Inv. Inicial" />
									<p:column headerText="SellOut" />
									<p:column headerText="Sem. Reales" />
									<p:column headerText="Sem. Req." />
									<p:column headerText="SellIn" />
								</ui:repeat>
							</p:row>
						</p:columnGroup>

						<p:column>
							<p:commandButton
								actionListener="#{semanasRequeridasMB.cargarDialogo(item)}"
								icon="ui-icon-search" title="Visualizar"
								update=":mainForm:tablaProductos, :mainForm:ProductosDialog"
								rendered="#{item.categoriaProducto != item.retailer}">
							</p:commandButton>
						</p:column>

						<p:column styleClass="zui-sticky-col">
							<h:outputText
								value="#{item.categoriaProducto.replaceFirst('0_', '')}"
								rendered="#{item.esProducto == false}" style="font-weight: bold" />
						</p:column>

						<c:forEach items="#{semanasRequeridasMB.mesesTabla}" var="mes">
							<p:column>
								<h:outputText
									value="#{item.informacionSemanasMes[mes].inventarioInicial}">
									<f:convertNumber maxFractionDigits="0" />
								</h:outputText>
							</p:column>

							<p:column>
								<h:outputText value="#{item.informacionSemanasMes[mes].sellOut}">
									<f:convertNumber maxFractionDigits="0" />
								</h:outputText>
							</p:column>

							<p:column>
								<h:outputText
									value="#{item.informacionSemanasMes[mes].semanasReales}" />
							</p:column>

							<p:column>
								<h:outputText
									value="#{item.informacionSemanasMes[mes].semanasRequeridas}"
									rendered="#{item.informacionSemanasMes[mes].esActual == false}" />

								<p:cellEditor id="outPorcentajeCat"
									rendered="#{item.informacionSemanasMes[mes].esActual}">
									<f:facet name="output">
										<h:outputText
											value="#{item.informacionSemanasMes[mes].semanasRequeridas}">
											<f:convertNumber minFractionDigits="2" />
										</h:outputText>
									</f:facet>

									<f:facet name="input">
										<h:inputText
											value="#{item.informacionSemanasMes[mes].semanasRequeridas}"
											validatorMessage="El valor ingresado no puede ser inferior a : 0">
											<f:validateLongRange minimum="0" />
										</h:inputText>
									</f:facet>
								</p:cellEditor>
							</p:column>

							<p:column style="border-right-width: 3px;">
								<h:outputText value="#{item.informacionSemanasMes[mes].sellIn}">
									<f:convertNumber maxFractionDigits="0" />
								</h:outputText>
							</p:column>
						</c:forEach>
					</p:dataTable>
				</h:panelGroup>
			</div>
		</div>
		<!--  middle-content -->
		<script>
			function slideColumn(comp) {
				$('.ui-datatable-frozenlayout-left').css("width",
						comp.input.val() + "%");
			}

			function renderizaPage() {
				$('dgProductos .ui-datatable-frozenlayout-left').css('width',
						'0px');
				$('dgProductos .ui-datatable-frozen-container').css('width',
						'0px');

			}
		</script>
	</ui:define>
</ui:composition>