<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="templates/tmpl-tres-a-1-top-menu.xhtml">

	<ui:define name="metadata">

	</ui:define>

	<ui:define name="content">

		<p:dialog header="Bitacora" widgetVar="bitacoraDialog"
			resizable="false" id="dialog" width="700" height="400"
			showEffect="explode" hideEffect="explode">
			<ui:include src="/bitacoraDialog.xhtml" />
		</p:dialog>

		<p:dialog header="Categoria: #{variacionMB.nomCategoria}"
			widgetVar="carDialog" modal="true" showEffect="fade"
			style="max-height: 100%; " hideEffect="fade" resizable="false"
			id="dialogProd" position="top">
			<h:panelGroup id="tablaProductos" class="roundtablez" layout="block"
				style="height: 95%;">
				<p:dataTable id="dtProductos" var="prod"
					value="#{variacionMB.lazyProducto}" paginator="true" rows="15"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					selectionMode="single" lazy="true"
					currentPageReportTemplate="{currentPage} de {totalPages}"
					styleClass="datatabledos roundtable"
					emptyMessage="#{msg['lbl_no_registros']}" editable="true"
					scrollable="true" style="margin-bottom:0" scrollHeight="400">

					<f:facet name="header">
						<p:selectCheckboxMenu value="#{variacionMB.selectItems}"
							label="Columnas" style="float: right;">
							<f:selectItem itemLabel="UPC" itemValue="UPC" />
							<f:selectItem itemLabel="Modelo" itemValue="Modelo" />
							<f:selectItem itemLabel="Descripción" itemValue="Producto" />
							<p:ajax listener="#{variacionMB.selecion()}" event="toggleSelect"
								update="dtProductos"></p:ajax>
							<p:ajax listener="#{variacionMB.selecion()}" event="change"
								update="dtProductos"></p:ajax>
						</p:selectCheckboxMenu>

					</f:facet>

					<p:column headerText="UPC" width="110"
						rendered="#{variacionMB.upc}">
						<h:outputText value="#{prod.upc}" />
					</p:column>

					<p:column headerText="Modelo" width="120"
						rendered="#{variacionMB.modelo}">
						<h:outputText value="#{prod.modelo}" />
					</p:column>

					<p:column headerText="Descripción" width="250"
						rendered="#{variacionMB.descripcion}">
						<h:outputText value="#{prod.categoriaProducto}"
							rendered="#{prod.varProd.longValue()>0}"
							style="#{variacionMB.color(prod.upc)}" />
					</p:column>

					<p:column headerText="Porcentaje Variacion" width="15%">
						<h:outputText value="#{prod.porcentajeBase}" />
					</p:column>

					<p:column headerText="Unidades de Venta" width="15%">
						<h:outputText value="#{prod.sellOutBase}">
							<f:convertNumber maxFractionDigits="0" />
						</h:outputText>

					</p:column>

					<p:column id="porcent_mod"
						headerText="Porcentaje Variacion modificada" width="15%">
						<h:outputText id="outPorcentajeProd"
							value="#{prod.porcentajeModificado}"
							rendered="#{prod.varProd.longValue()>0}" />
					</p:column>

					<p:column id="un_mod" headerText="Unidades de Venta Modificada"
						width="15%">
						<h:outputText value="#{prod.sellOut}">
							<f:convertNumber maxFractionDigits="0" />
						</h:outputText>
					</p:column>
				</p:dataTable>
			</h:panelGroup>
		</p:dialog>

		<div class="font-cero font-color-white title-content">
			<h:outputText value="#{msg['titulo_demand_variacion']}" />
		</div>

		<div class="middle-content">
			<div class="formsearch"
				style="width: 100%; border-bottom-width: 0px !important;">
				<div style="width: 200px; float: left">
					<p:outputLabel value="#{msg['lbl_marca']}" />
					<br />
					<p:selectCheckboxMenu id="lbxMarca"
						value="#{variacionMB.grupoMarcaSeleccionadaIde}"
						style="width:170px;" filter="true" required="true"
						requiredMessage="#{msg['req_marca']}" filterMatchMode="contains"
						label="#{msg['cbo_favor_seleccione']}">
						<f:selectItems value="#{variacionMB.grupoMarcasMap.entrySet()}"
							var="item" itemLabel="#{item.value.id} - #{item.value.nombre}"
							itemValue="#{item.key}" />
					</p:selectCheckboxMenu>
				</div>



				<div style="width: 200px; float: left">
					<p:outputLabel value="#{msg['lbl_compania']}" />
					<br />
					<p:selectOneMenu id="lbxComp" style="width:170px;"
						value="#{variacionMB.companiaSeleccionadaIde}" required="true"
						requiredMessage="#{msg['req_compania']}" filter="true"
						filterMatchMode="contains" disabled="#{variacionMB.unicaCompania}">
						<f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}"
							itemValue="" />
						<f:selectItems value="#{variacionMB.companiasMap.entrySet()}"
							var="item" itemLabel="#{item.value.id} - #{item.value.nombre}"
							itemValue="#{item.key}" />
						<p:ajax update="lbxRetailer"
							listener="#{variacionMB.cargaListaRetailers()}" event="change" />
					</p:selectOneMenu>
				</div>


				<div style="width: 200px; float: left">
					<p:outputLabel value="#{msg['lbl_retailer']}" />
					<br />
					<p:selectCheckboxMenu id="lbxRetailer" dynamic="true"
						value="#{variacionMB.retailerSeleccionadoIde}"
						style="width:180px;" required="true" filter="true"
						filterMatchMode="contains" label="#{msg['cbo_favor_seleccione']}">
						<f:selectItems value="#{variacionMB.retailersMap.entrySet()}"
							var="item"
							itemLabel="#{item.value.id} - #{item.value.nombreComercial}"
							itemValue="#{item.key}" />
					</p:selectCheckboxMenu>
				</div>
				<div style="width: 200px; float: left">
					<p:outputLabel value="#{msg['lbl_mes_anio']}" />
					<br />
					<p:selectOneMenu id="lbxMesanio"
						value="#{variacionMB.mesSeleccionado}" required="true"
						requiredMessage="#{msg['req_mes']}" filter="true">
						<f:selectItem itemLabel="#{msg['cbo_favor_seleccione']}"
							itemValue="" />
						<f:selectItems value="#{variacionMB.mesesMap.entrySet()}"
							var="item" itemLabel="#{item.value.anio} - #{item.value.nombre}"
							itemValue="#{item.key}" />
					</p:selectOneMenu>
				</div>
				<div style="width: 340px; float: right">
					<p:commandButton styleClass="custombtn" ajax="true"
						update="lbxMarca,lbxComp,lbxRetailer,lbxMesanio,dtProds,botonE,dtProds"
						actionListener="#{variacionMB.consultar()}"
						value="#{msg['cmb_consultar']}" />

					<h:panelGroup id="botonE">
						<p:commandButton id="btnCalcular" styleClass="custombtn"
							ajax="true"
							update="lbxMarca,lbxComp,lbxRetailer,lbxMesanio,dtProds"
							actionListener="#{variacionMB.recalcular()}"
							value="#{msg['cmb_actualizar']}"
							rendered="#{variacionMB.mostrarBotones==true}" />
					</h:panelGroup>

					<p:spacer width="10" />

					<h:commandLink actionListener="#{variacionMB.exportarAExcel()}">
						<p:graphicImage library="images" name="ico_excel2.png" width="25"
							title="#{msg['tit_exportar']}" />
					</h:commandLink>
					<p:spacer width="10" />
					<ui:remove>
						<p:commandButton value="Bitacora"
							action="#{bitacoraMB.consultarBitacora}" update="dialog"
							rendered="true" oncomplete="PF('bitacoraDialog').show();"
							styleClass="custombtn" />
					</ui:remove>
				</div>

			</div>
			<br />

			<!--  FIN FILA  -->

			<p:growl id="msgsRow" showDetail="true" />

			<h:panelGroup id="tablaPanel" class="roundtablez" layout="block">
				<p:dataTable id="dtProds" var="item"
					value="#{variacionMB.lazyModel}" paginator="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					selectionMode="single" lazy="true"
					currentPageReportTemplate="{currentPage} de {totalPages}"
					styleClass="datatabledos roundtable"
					emptyMessage="#{msg['lbl_no_registros']}" editable="true"
					style="margin-bottom:0">

					<p:ajax event="rowEdit" listener="#{variacionMB.onRowEdit}" />

					<p:column style="width:32px" exportable="false">
						<p:commandButton
							actionListener="#{variacionMB.cargarDialogo(item)}"
							icon="ui-icon-search" title="Visualizar" update="@form"
							rendered="#{item.categoriaProducto != item.retailer}">
						</p:commandButton>
					</p:column>

					<p:column headerText="Categoria">
						<h:outputText
							value="#{item.categoriaProducto.replaceFirst('0_', '')}"
							rendered="#{item.varCateg.longValue()>0}"
							style="font-weight: bold" />
					</p:column>

					<p:column headerText="Porcentaje Variacion" width="15%">
						<h:outputText value="#{item.porcentajeBase}" />
					</p:column>

					<p:column headerText="Unidades de Venta" width="15%">
						<h:outputText value="#{item.sellOutBase}">
							<f:convertNumber maxFractionDigits="0" />
						</h:outputText>

					</p:column>

					<p:column id="porcent_mod"
						headerText="Porcentaje Variacion modificada" width="15%">
						<p:cellEditor id="outPorcentajeCat"
							rendered="#{item.varCateg.longValue()>0}">
							<f:facet name="output">
								<h:outputText value="#{item.porcentajeModificado}" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{item.porcentajeModificado}"
									validatorMessage="El valor ingresado no puede ser inferior a : 0">
									<f:validateLongRange minimum="0" />
								</h:inputText>
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column id="un_mod" headerText="Unidades de Venta Modificada"
						width="15%">
						<h:outputText value="#{item.sellOut}">
							<f:convertNumber maxFractionDigits="0" />
						</h:outputText>
					</p:column>
					<p:column style="width:32px" exportable="false">
						<p:rowEditor rendered="#{item.categoriaProducto != item.retailer}">
						</p:rowEditor>
					</p:column>
				</p:dataTable>

			</h:panelGroup>
		</div>
		<!--  middle-content -->
	</ui:define>
</ui:composition>